daffodil-test/src/test/resources/org/apache/daffodil/section08/property_scoping/PropertyScoping_04.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.example.org/example1/" xmlns:tns="http://www.example.org/example1/"
  xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" dfdl:documentFinalSeparatorCanBeMissing="yes">

  <annotation>
    <appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="tns:def1" initiator="" terminator=""
        encoding="utf-8" binaryNumberRep="binary" />
    </appinfo>
  </annotation>

  <!-- immediate simple type definition -->
  <element name="c3">
    <simpleType>
      <restriction base="tns:aType">
        <maxInclusive value="3" />
      </restriction>
    </simpleType>
  </element>

  <!-- global simple type definition -->
  <simpleType name="aType">
    <xsd:annotation>
      <appinfo source="http://www.ogf.org/dfdl/">
        <dfdl:simpleType representation="binary" />
      </appinfo>
    </xsd:annotation>
    <!-- base type reference -->
    <restriction base="tns:aaType" />
  </simpleType>

  <!-- global simple type definition (used as a base) -->
  <simpleType name="aaType">
    <xsd:annotation>
      <appinfo source="http://www.ogf.org/dfdl/">
        <dfdl:simpleType byteOrder="bigEndian" />
      </appinfo>
    </xsd:annotation>
    <restriction base="xsd:int" />
  </simpleType>

</schema>
