daffodil-test-ibm1/src/test/resources/test-suite/ibm-contributed/dpaextdeltxt101.dfdl.xsd

<?xml version="1.0" encoding="utf-8"?>
	<!--
		calendar - delimited - with terminators
	-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
	xmlns:cal="http://www.saf.cal/" elementFormDefault="unqualified"
	attributeFormDefault="unqualified" >
	<!--
	-->
	<xs:annotation>
		<xs:appinfo source="http://www.ogf.org/dfdl/">
			<!--
				This is the new schema level default format block. It doesn't get a
				name
			-->
			<dfdl:format initiator="" terminator="" leadingSkip="0" trailingSkip="0"  textBidi="no" floating="no"   encodingErrorPolicy="replace" encoding="utf-8" byteOrder="bigEndian" alignment="1" alignmentUnits="bytes" fillByte="f" 
                occursCountKind="implicit" 
				truncateSpecifiedLengthString="no" ignoreCase="no"
				representation="text"  textPadKind="none"
				textTrimKind="none"  lengthKind="delimited" escapeSchemeRef=""
				textOutputMinLength="30" lengthUnits="bytes"
				textStringJustification="left"  textStringPadCharacter="%SP;"
				textCalendarJustification="left"  textCalendarPadCharacter="%SP;"
				nilValueDelimiterPolicy="both"  emptyValueDelimiterPolicy="none" 
				documentFinalTerminatorCanBeMissing="no" initiatedContent="no"
				sequenceKind="ordered" 
				separatorSuppressionPolicy="never" 
				calendarPatternKind="implicit" calendarPattern="yyyymmddhhmmss" calendarCheckPolicy="lax" 
				calendarTimeZone="UTC" calendarObserveDST="yes" 
				calendarFirstDayOfWeek="Wednesday" calendarDaysInFirstWeek="7" calendarCenturyStart="50" 
				calendarLanguage="it-IT"
				/>

		</xs:appinfo>
	</xs:annotation>

		
	
	<!-- annotation on type -->
    <xs:element name="myDate1" type="newType1" dfdl:terminator="@">
	</xs:element>
	
	
	<!--  end of data -->
	<xs:element name="myDate2" type="newType1" >
	</xs:element>
	
	
	<!--  separator, terminator of parent -->
	<xs:element name="myStringSeq1">
		<xs:complexType>
			<xs:sequence dfdl:initiatedContent="no" dfdl:separatorPosition="infix"
				dfdl:sequenceKind="ordered" dfdl:separator="~" dfdl:terminator="@">
				<xs:element name="Test1" type="xs:string">
					
				</xs:element>
				
				<xs:element name="Test2" type="xs:string"  >

				</xs:element>
								
			</xs:sequence>
		</xs:complexType>

	</xs:element>
	
	<!--  parent with specified length -->
	<xs:element name="myStringSeq2" dfdl:lengthKind="explicit" dfdl:length="5">
		<xs:complexType>
			<xs:sequence dfdl:initiatedContent="no" dfdl:separatorPosition="infix"
				dfdl:sequenceKind="ordered" dfdl:separator="" >
				<xs:element name="Test1" type="xs:string">
				</xs:element>
				
				
			</xs:sequence>
		</xs:complexType>

	</xs:element>
	
	
	
	
	<xs:simpleType name="newType1">
		<xs:annotation>
			<xs:appinfo source="http://www.ogf.org/dfdl/">
				<dfdl:simpleType calendarPatternKind="implicit"  calendarCheckPolicy="strict" 
				 calendarObserveDST="yes" 
				calendarFirstDayOfWeek="Monday" calendarDaysInFirstWeek="1" calendarCenturyStart="75"
							calendarLanguage="en-US" 
								/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:date">
			
		</xs:restriction>
	</xs:simpleType>
    
    
</xs:schema>
