daffodil-test-ibm1/src/test/resources/test-suite/ibm-contributed/dpaspc7131.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!--
  Portions of this schema taken from examples in Data Format Description Language (DFDL) v1.0 Specification
  Copyright (C) Open Grid Forum (2005-2014).  Some Rights Reserved.
  https://www.ogf.org/ogf/doku.php/about/copyright
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
	xmlns:cal="http://www.saf.cal/" elementFormDefault="unqualified"
	attributeFormDefault="unqualified" >
	
	<xs:include schemaLocation="org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd" />
	
	<!--
		7.1.3.1 Representation Property Binding Syntax: Attribute  Form spec v.40
	-->


	<!-- Defaulted property values from sample snippet-->
	<xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
        <dfdl:format ref="GeneralFormat" leadingSkip="0" trailingSkip="0" textBidi="no" floating="no"  
        encoding="utf-8" separator="%NL;" representation="text"
        encodingErrorPolicy="error" />
    </xs:appinfo>
     </xs:annotation>

	<!--
		the rest of schema created to ensure we handle the values set as
		properties above
	-->
	<xs:annotation>
		<xs:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:defineFormat name="config">
				<dfdl:format terminator=""  initiator="" byteOrder="bigEndian" alignment="1" alignmentUnits="bytes" fillByte="f" occursCountKind="implicit"
				 lengthUnits="bytes" 
					initiatedContent="no" sequenceKind="ordered" ignoreCase="yes"
					textPadKind="none" textTrimKind="none" textStandardBase="10"
					textNumberJustification="right" separatorPosition="infix"
					separatorSuppressionPolicy="never" escapeSchemeRef="" lengthKind="delimited"
					documentFinalTerminatorCanBeMissing="no" outputNewLine="%LF;"
					textNumberRep="standard" nilValueDelimiterPolicy="both"  />
			</dfdl:defineFormat>

		</xs:appinfo>
	</xs:annotation>

	<xs:annotation>
		<xs:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:defineFormat name="baseString">
				<dfdl:format byteOrder="bigEndian" alignment="1" alignmentUnits="bytes" fillByte="f" lengthUnits="bytes"
                    initiator="" terminator="" truncateSpecifiedLengthString="no"  
					ignoreCase="yes" textPadKind="none" textTrimKind="none"
					textStandardBase="10" textStringJustification="right"
					escapeSchemeRef="" lengthKind="delimited" occursCountKind="implicit" />
			</dfdl:defineFormat>

		</xs:appinfo>
	</xs:annotation>
	


	<xs:element name="root" dfdl:lengthKind="implicit" dfdl:ref="config">
		<xs:complexType>
			<xs:sequence dfdl:ref="config">
				<xs:element name="element1" type="xs:string" dfdl:ref="baseString" />
				<xs:element name="element2" type="xs:string" dfdl:ref="baseString" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
