daffodil-test/src/test/resources/org/apache/daffodil/section06/namespaces/ABC_invalid.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:tns="http://www.ibm.com/dfdl/GeneralPurposeFormat"
  xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" 
  xmlns:rando="urn:imnotreal.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.ibm.com/dfdl/GeneralPurposeFormat"
    schemaLocation="IBMdefined/GeneralPurposeFormat.xsd" />
  <xsd:element dfdl:terminator="%NL;" rando:whatAreYouDoing="this is not valid" name="ABC">
    <xsd:complexType>
      <xsd:sequence dfdl:separator="" rando:IcanPutAnythingHEre="yep" rando:separator=".">

        <xsd:element dfdl:occursCountKind="implicit"
          dfdl:terminator="" maxOccurs="unbounded" minOccurs="1" name="Container">
          <xsd:annotation rando:annotation="ok">
            <xsd:appinfo source="http://www.ogf.org/dfdl/">

            </xsd:appinfo>
          </xsd:annotation>
          <xsd:complexType rando:note="this would be good for documentation">
            <xsd:choice>
              <xsd:element dfdl:length="1" dfdl:lengthKind="explicit"
                fixed="a" minOccurs="1" name="a" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{. eq 'a'}</dfdl:discriminator>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element dfdl:length="1" dfdl:lengthKind="explicit"
                fixed="b" minOccurs="1" name="b" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{. eq 'b'}</dfdl:discriminator>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element dfdl:length="1" dfdl:lengthKind="explicit"
                fixed="c" minOccurs="1" name="c" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{. eq 'c'}</dfdl:discriminator>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element dfdl:length="1" dfdl:lengthKind="explicit"
                fixed="d" minOccurs="1" name="d" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator xmlns:fn="http://www.w3.org/2005/xpath-functions">{
                    if (. eq 'd') then fn:true() else fn:false()
                    }</dfdl:discriminator>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element dfdl:terminator="%NL;" rando:whatAreYouDoing="this is not valid" name="ABC_fail">
    <xsd:complexType>
      <xsd:sequence dfdl:separator="" rando:IcanPutAnythingHEre="yep" rando:separator=".">

        <xsd:element dfdl:occursCountKind="implicit"
          dfdl:terminator="" maxOccurs="unbounded" minOccurs="1" name="Container">
          <xsd:annotation rando:annotation="ok">
            <xsd:appinfo source="http://www.ogf.org/dfdl/">
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:complexType rando:note="this would be good for documentation">
            <xsd:choice>
              <xsd:element dfdl:length="1" dfdl:lengthKind="explicit"
                fixed="e" minOccurs="1" name="e" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator >{if (. eq 'e') then fn:true() else fn:false()}</dfdl:discriminator>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:annotation>
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="tns:GeneralPurposeFormat"
        separatorSuppressionPolicy="trailingEmpty" />
    </xsd:appinfo>
  </xsd:annotation>
</xsd:schema>
