daffodil-test/src/test/resources/org/apache/daffodil/section06/namespaces/multi_A_03.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!--
    Copyright (c) 2012-2013 Tresys Technology, LLC. All rights reserved.
   
    Developed by: Tresys Technology, LLC
                  http://www.tresys.com
    
    Permission is hereby granted, free of charge, to any person obtaining a copy of
    this software and associated documentation files (the "Software"), to deal with
    the Software without restriction, including without limitation the rights to
    use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
    of the Software, and to permit persons to whom the Software is furnished to do
    so, subject to the following conditions:
    
     1. Redistributions of source code must retain the above copyright notice,
        this list of conditions and the following disclaimers.
    
     2. Redistributions in binary form must reproduce the above copyright
        notice, this list of conditions and the following disclaimers in the
        documentation and/or other materials provided with the distribution.
    
     3. Neither the names of Tresys Technology, nor the names of its contributors
        may be used to endorse or promote products derived from this Software
        without specific prior written permission.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    CONTRIBUTORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS WITH THE
    SOFTWARE.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
   targetNamespace="http://a03.com" xmlns:a03="http://a03.com" xmlns:b03="http://b03.com" xmlns:f03="http://f03.com">

<!-- 
	 Tests that use this schema rely on having certain elements not defined.
	 Because of this we can not use the standard technique of including
	 built-in-formats.xsd and referencing daffodilTest1. Instead, all necessary
	 properties must be explicitly defined
-->
<!-- 
     Amend that: we can include built-in-formats and ref daffodilNewProperties1 which
     only contains new properties introduced since these tests were created.
 -->

  <xs:include schemaLocation="org/apache/daffodil/xsd/built-in-formats.xsd" />

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="a03:daffodilNewProperties1" separator="" ignoreCase="no" separatorPosition="infix" separatorSuppressionPolicy="anyEmpty" 
      leadingSkip='0' initiator="" occursCountKind="parsed" initiatedContent="no" representation="text" 
      textNumberRep="standard" encoding="ASCII" textTrimKind="none" 
      alignment="1" alignmentUnits="bytes" trailingSkip="0" sequenceKind="ordered" escapeSchemeRef="" byteOrder="littleEndian"/>
    </xs:appinfo>
  </xs:annotation>
  
  <xs:import namespace="http://b03.com" schemaLocation="org/apache/daffodil/section06/namespaces/multi_B_03.dfdl.xsd"/>

  <xs:element name="nestSequence" dfdl:terminator="">
    <xs:complexType>
      <xs:sequence dfdl:separator="|" dfdl:terminator="">
        <xs:element ref="b03:nest" dfdl:lengthKind="delimited" dfdl:occursCountKind="parsed" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="nestSequence2" dfdl:terminator="">
    <xs:complexType>
      <xs:sequence dfdl:separator="|">
        <xs:element ref="b03:nest2" dfdl:occursCountKind="parsed" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="nestSequence3" dfdl:terminator="">
    <xs:complexType>
      <xs:sequence dfdl:separator="|" dfdl:terminator="">
        <xs:element ref="b03:nest3" dfdl:terminator="" dfdl:lengthKind="explicit" dfdl:occursCountKind="parsed" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="nestSequence4" dfdl:terminator="">
    <xs:complexType>
      <xs:sequence dfdl:separator="|" dfdl:terminator="">
        <xs:element ref="b03:nest4" dfdl:terminator="" dfdl:lengthKind="explicit" dfdl:occursCountKind="implicit" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="nestSequence5" dfdl:terminator="">
    <xs:complexType>
      <xs:sequence dfdl:separator="|" dfdl:terminator="">
        <xs:element ref="b03:nest4" dfdl:occursCountKind="parsed" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="nestSequence6" dfdl:lengthKind="delimited" dfdl:terminator="">
    <xs:complexType>
      <xs:sequence dfdl:terminator="">
        <xs:element ref="b03:nest5" dfdl:lengthKind="explicit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="nestSequence6b" dfdl:lengthKind="delimited" dfdl:terminator="">
    <xs:complexType>
      <xs:sequence dfdl:terminator="">
        <xs:element ref="b03:nest5b" dfdl:lengthKind="explicit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="nestSequence7" dfdl:lengthKind="delimited" dfdl:terminator="">
    <xs:complexType>
      <xs:sequence dfdl:terminator="">
        <xs:element name="elem" type="xs:string" dfdl:ref="f03:format_05" dfdl:lengthKind="explicit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="nestSequenceUnbounded" dfdl:lengthKind="delimited" dfdl:terminator="">
    <xs:complexType>
      <xs:sequence dfdl:terminator="">
        <xs:element ref="b03:nestUnbounded" dfdl:occursCountKind="parsed" minOccurs="1" maxOccurs="unbounded" dfdl:lengthKind="delimited"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
