daffodil-test/src/test/resources/org/apache/daffodil/section06/namespaces/multi_A_11_nons_valid.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:foo="http://foo.com">

  <xs:include schemaLocation="org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/>
 
  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="GeneralFormat" separator="" initiator="" terminator="" leadingSkip='0' textTrimKind="none" initiatedContent="no"
        ignoreCase="no" separatorSuppressionPolicy="anyEmpty" separatorPosition="infix" occursCountKind="parsed" lengthKind="delimited" representation="text" textNumberRep="standard" encoding="ASCII"/>
    </xs:appinfo>
  </xs:annotation>
  
  <xs:import namespace="http://foo.com" schemaLocation="org/apache/daffodil/section06/namespaces/multi_B_11.dfdl.xsd"/>
 
  <!-- notAString is of type foo:string, which is a simpleType with an xs:int restriction base -->
  <xs:element name="notAString" type="foo:string"/>
  
  <!-- notAString is of type foo:stringy, which is a simpleType with an xs:int restriction base -->
  <xs:element name="notAStringy" type="foo:string"/>
  
  <!-- notAString2 uses an overridden definition of foo, which has no stringy type -->
  <xs:element xmlns:foo="http://www.w3.org/2001/XMLSchema" name="notAStringy2" type="foo:stringy"/>
  
  <foo:element xmlns:foo="http://www.w3.org/2001/XMLSchema" xmlns:bar="http://foo.com" name="notAStringy3" type="bar:stringy">
    <xs:annotation>
      <xs:appinfo source="http://www.ogf.org/dfdl/">
        <dfdl:assert test="{ dfdl:checkConstraints(.) }"
          message="Assertion failed for dfdl:checkConstraints(.)" />
      </xs:appinfo>
    </xs:annotation>
  </foo:element>
    

</xs:schema>
