daffodil/test/AF.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.example.org/example1/">

  <!-- Initiated choices -->

  <group name="choiceGroup">
    <choice>
      <element name="zone1" 
	       dfdl:initiator="[BEGIN%WSP;ZONE1]%NL;" 
	       dfdl:terminator="[END%WSP;ZONE1]%NL;"
	       dfdl:representation="text">
	<complexType>
	  <sequence>
	    <element name="x" type="xsd:string"
		     dfdl:initiator="x="
		     dfdl:representation="text" 
		     dfdl:terminator="%NL;"
		     dfdl:textStringJustification="right"
		     dfdl:textStringPadCharacter=" "/>
	  </sequence>
	</complexType>
      </element>
      <element name="zone2"
	       dfdl:initiator="[BEGIN%WSP;ZONE2]%NL;" 
	       dfdl:terminator="[END%WSP;ZONE2]%NL;"
	       dfdl:representation="text">
	<complexType>
	  <sequence>
	    <element name="y" type="xsd:string"
		     dfdl:initiator="y=" 
		     dfdl:terminator="%NL;"
		     dfdl:representation="text" 
		     dfdl:textStringJustification="right"
		     dfdl:textStringPadCharacter=" "/>
	  </sequence>
	</complexType>
      </element>
      <element name="zone3"
	       dfdl:initiator="[BEGIN%WSP;ZONE3]%NL;" 
	       dfdl:terminator="[END%WSP;ZONE3]%NL;"
	       dfdl:representation="text">
	<complexType>
	  <sequence>
	    <element name="z" type="xsd:string"
		     dfdl:initiator="z=" 
		     dfdl:terminator="%NL;"
		     dfdl:representation="text" 
		     dfdl:textStringJustification="right"
		     dfdl:textStringPadCharacter=" "/>
	  </sequence>
	</complexType>
      </element>
    </choice>
  </group>

  <element name="allZones">
    <complexType>
      <sequence>
	<group ref="choiceGroup" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>

</schema>
