daffodil/test/AQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
	xmlns:tns="http://www.example.org/example1/"
	targetNamespace="http://www.example.org/example1/">

  <!-- Float math example from old defuddle -->
  
  <!-- Basic Math in DFDL Representations -->
  <element name="ROOT">
    <complexType>
      <sequence>
	<element name="x" type="xsd:float" 
		    dfdl:terminator="," 
		    dfdl:encoding="US-ASCII"/>
	<element name="y" type="xsd:float" 
		    dfdl:separator="," 
		    dfdl:encoding="US-ASCII"
		    dfdl:terminator="%NL;"/>
	<element name="Multiply" type="xsd:float"
		 dfdl:inputValueCalc="{ ../tns:x * ../tns:y }"/>
	<element name="Add" type="xsd:float"
		 dfdl:inputValueCalc="{ ../tns:x + ../tns:y }"/>
	<element name="Substract" type="xsd:float"
		 dfdl:inputValueCalc="{ ../tns:x - ../tns:y }"/>
	<element name="SubstractLiteral" type="xsd:float"
		 dfdl:inputValueCalc="{ ../tns:x - 2 }"/>
      </sequence>
    </complexType>
  </element>

</schema>
