daffodil/test/AY.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
	targetNamespace="http://www.example.org/example1/">

  <!-- Schema Escaping: escape character and escape block, variable length -->

  <element name="list">
    <complexType>
      <sequence>
	<element name="character" type="xsd:string" maxOccurs="unbounded"
		 dfdl:representation="text"
		 dfdl:separator="SEPARATOR"
		 dfdl:initiator="INITIATOR"
		 dfdl:terminator="TERMINATOR"
		 dfdl:escapeKind="escapeCharacter"
		 dfdl:escapeCharacter="#"/>
	<element name="block" type="xsd:string" maxOccurs="unbounded"
		 dfdl:representation="text"		 
		 dfdl:separator="SEPARATOR"
		 dfdl:initiator="INITIATOR"
		 dfdl:terminator="TERMINATOR"
		 dfdl:escapeKind="escapeBlock"
		 dfdl:escapeBlockStart="START"
		 dfdl:escapeBlockEnd="END"/>
      </sequence>
    </complexType>
  </element>

</schema>
