daffodil/test/BB.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" targetNamespace="http://www.example.org/example1/">

  <!-- Stop Values -->
  <element name="list">
    <complexType name="example1">  
      <sequence>
	<element name="x" type="xsd:int" maxOccurs="unbounded"
		 dfdl:lengthKind="explicit"
		 dfdl:length="5"	       
		 dfdl:occursCountKind="stopValue"
		 dfdl:stopValue="10"/>
	<element name="y" type="xsd:int" maxOccurs="unbounded"
		 dfdl:lengthKind="delimited"
		 dfdl:separator=","
		 dfdl:occursCountKind="stopValue"
		 dfdl:stopValue="10"/>
	<element name="z" type="xsd:string"
		 dfdl:documentFinalTerminatorCanBeMissing="yes"/>
      </sequence>
    </complexType>
  </element>
  
</schema>
