daffodil/test/BC.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" targetNamespace="http://www.example.org/example1/">

  <!-- Text boolean -->
  <element name="list">
    <complexType name="example1">  
      <sequence>
	<element name="x" type="xsd:boolean" maxOccurs="unbounded"
		 dfdl:separator=","
		 dfdl:terminator="%NL;"
		 dfdl:textBooleanTrueRep="yes Y 1"
		 dfdl:textBooleanFalseRep="no N 0"/>
	<element name="y" type="xsd:boolean" maxOccurs="unbounded"
		 dfdl:separator=","
		 dfdl:terminator="%NL;"
		 dfdl:textBooleanTrueRep="{ 1*10 }"
		 dfdl:textBooleanFalseRep="{'a b c'}"/>
      </sequence>
    </complexType>
  </element>
  
</schema>
