daffodil/test/BG.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" targetNamespace="http://www.example.org/example1/">

  <!-- Text number properties -->

  <element name="list" type="example1" />

  <complexType name="example1">  
    <sequence>
      <element name="x" type="xsd:decimal" maxOccurs="unbounded"
	       dfdl:lengthKind="delimited"
	       dfdl:separator="***"
	       dfdl:terminator="%NL;"
	       dfdl:textNumberRep="standard"
	       dfdl:textNumberJustification="right"
	       dfdl:textNumberPadCharacter="%WSP;"
	       dfdl:textStandardBase="10"
	       dfdl:textNumberPattern="###,###.##;-###,###.##"
	       dfdl:textStandardDecimalSeparator="!"
	       dfdl:textStandardGroupingSeparator="#"
	       dfdl:textStandardInfinityRep="INFINITO"
	       dfdl:textStandardNanRep="NNN"
	       dfdl:textStandardZeroRep="ZERO NA NIL"
	       dfdl:ignoreCase="true"/>
      <element name="y" type="xsd:decimal" maxOccurs="unbounded"
	       dfdl:lengthKind="delimited"
	       dfdl:separator="***"
	       dfdl:terminator="%NL;"
	       dfdl:textNumberRep="standard"	       
	       dfdl:textNumberJustification="right"
	       dfdl:textNumberPadCharacter="%WSP;"
	       dfdl:textStandardBase="16"/>
      <element name="z" type="xsd:float" maxOccurs="unbounded"
	       dfdl:lengthKind="delimited"
	       dfdl:separator="***"
	       dfdl:terminator="%NL;"
	       dfdl:textNumberJustification="right"
	       dfdl:textNumberPadCharacter="%WSP;"/>
    </sequence>
  </complexType>
</schema>
