daffodil-lib/src/main/resources/org/apache/daffodil/xsd/XMLSchema_for_DFDL.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- 

To get enforcement of the XML Schema Subset for DFDL, but at the 
same time let users use the original XML Schema namespace URI, we
give this schema the XML Schema URI as its namespace, and we use 
this to validate when we load a DFDL Schema.

 -->
<!-- XML Schema schema for XML Schemas: Part 1: Structures -->
<!-- Note this schema is NOT the normative structures schema. -->
<!-- The prose copy in the structures REC is the normative -->
<!-- version (which shouldn't differ from this one except for -->
<!-- this comment and entity expansions, but just in case -->

<xsd:schema  
  targetNamespace="http://www.w3.org/2001/XMLSchema"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  blockDefault="#all" elementFormDefault="qualified" version="1.0"
  xml:lang="EN" xmlns:xml="http://www.w3.org/XML/1998/namespace"
  xmlns:sub="http://www.w3.org/2001/XMLSchema"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xsi:schemaLocation="urn:ogf:dfdl:2013:imp:daffodil.apache.org:2017:int dafint.xsd">
  <!-- Use the real URI for this, not the subset URI
   "http://www.w3.org/2001/XMLSchema"
  -->

  <xsd:import namespace="http://www.ogf.org/dfdl/dfdl-1.0/" />
    
  <xsd:import namespace="urn:ogf:dfdl:2013:imp:daffodil.apache.org:2017:int"
    schemaLocation="dafint.xsd"/>

  <xsd:annotation>
    <xsd:documentation>
      Part 1 version: Id: structures.xsd,v 1.2 2004/01/15 11:34:25 ht Exp
      Part 2 version: Id: datatypes.xsd,v 1.3 2004/01/23 18:11:13 ht Exp
    </xsd:documentation>
  </xsd:annotation>

  <xsd:annotation>
    <xsd:documentation
      source="http://www.w3.org/TR/2004/PER-xmlschema-1-20040318/structures.html">
      The schema corresponding to this document is normative,
      with respect to the syntactic constraints it expresses in the
      XML Schema language. The documentation (within &lt;documentation>
      elements)
      below, is not normative, but rather highlights important aspects of
      the W3C Recommendation of which this is a part
    </xsd:documentation>
  </xsd:annotation>

  <xsd:annotation>
    <xsd:documentation>
      The simpleType element and all of its members are defined
      towards the end
      of this schema document
    </xsd:documentation>
  </xsd:annotation>

  <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="./xml.xsd">
    <xsd:annotation>
      <xsd:documentation>
        Get access to the xml: attribute groups for xml:lang
        as declared on 'schema' and 'documentation' below
      </xsd:documentation>
    </xsd:annotation>
  </xsd:import>

  <xsd:complexType name="openAttrs">
    <xsd:annotation>
      <xsd:documentation>
        This type is extended by almost all schema types
        to allow attributes from other namespaces to be
        added to user schemas.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="xsd:anyType">
        <xsd:attributeGroup ref="sub:anyOther" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="annotated">
    <xsd:annotation>
      <xsd:documentation>
        This type is extended by all types which allow annotation
        other than &lt;schema&gt; itself
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sub:openAttrs">
        <xsd:sequence>
          <xsd:element ref="sub:annotation" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:group name="schemaTop">
    <xsd:annotation>
      <xsd:documentation>
        This group is for the
        elements which occur freely at the top level of schemas.
        All of their types are based on the "annotated" type by extension.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:group ref="sub:redefinable" />
      <xsd:element ref="sub:element" />
      <!-- <xsd:element ref="sub:attribute"/> -->
      <!-- <xsd:element ref="sub:notation"/> -->
    </xsd:choice>
  </xsd:group>

  <xsd:group name="redefinable">
    <xsd:annotation>
      <xsd:documentation>
        This group is for the
        elements which can self-redefine (see &lt;redefine> below).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ref="sub:simpleType" />
      <xsd:element ref="sub:complexType" />
      <xsd:element ref="sub:group" />
      <!-- <xsd:element ref="sub:attributeGroup"/> -->
    </xsd:choice>
  </xsd:group>

  <xsd:simpleType name="formChoice">
    <xsd:annotation>
      <xsd:documentation>
        A utility type, not for public use
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="qualified" />
      <xsd:enumeration value="unqualified" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="reducedDerivationControl">
    <xsd:annotation>
      <xsd:documentation>
        A utility type, not for public use
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="sub:derivationControl">
      <!-- <xsd:enumeration value="extension"/> -->
      <xsd:enumeration value="restriction" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="derivationSet">
    <xsd:annotation>
      <xsd:documentation>
        A utility type, not for public use
      </xsd:documentation>
      <xsd:documentation>
        #all or (possibly empty) subset of {extension, restriction}
      </xsd:documentation>
    </xsd:annotation>
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="#all" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:list itemType="sub:reducedDerivationControl" />
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>

  <xsd:simpleType name="typeDerivationControl">
    <xsd:annotation>
      <xsd:documentation>
        A utility type, not for public use
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="sub:derivationControl">
      <!-- <xsd:enumeration value="extension"/> -->
      <xsd:enumeration value="restriction" />
      <!-- <xsd:enumeration value="list"/> -->
      <xsd:enumeration value="union" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="fullDerivationSet">
    <xsd:annotation>
      <xsd:documentation>
        A utility type, not for public use
      </xsd:documentation>
      <xsd:documentation>
        #all or (possibly empty) subset of {extension, restriction, list, union}
      </xsd:documentation>
    </xsd:annotation>
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="#all" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:list itemType="sub:typeDerivationControl" />
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>

  <xsd:element name="schema" id="schema">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-1/#element-schema" />
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="sub:openAttrs">
          <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
              <xsd:element ref="sub:include" />
              <xsd:element ref="sub:import" />
              <!-- <xsd:element ref="sub:redefine"/> -->
              <xsd:element ref="sub:annotation" />
            </xsd:choice>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:group ref="sub:schemaTop" />
              <xsd:element ref="sub:annotation" minOccurs="0"
                maxOccurs="unbounded" />
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="targetNamespace" type="xsd:anyURI" />
          <xsd:attribute name="version" type="xsd:token" />
          <!-- <xsd:attribute name="finalDefault" type="sub:fullDerivationSet" 
            use="optional" default=""/>
            <xsd:attribute name="blockDefault" type="sub:blockSet" use="optional" 
            default=""/>
          -->
          <xsd:attribute name="attributeFormDefault" type="sub:formChoice"
            use="optional" default="unqualified" />
          <xsd:attribute name="elementFormDefault" type="sub:formChoice"
            use="optional" default="unqualified" />
          <xsd:attribute name="id" type="xsd:ID" />
          <xsd:attribute ref="xml:lang" />
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>

    <xsd:key name="element">
      <xsd:selector xpath="sub:element" />
      <xsd:field xpath="@name" />
    </xsd:key>

    <xsd:key name="attribute">
      <xsd:selector xpath="sub:attribute" />
      <xsd:field xpath="@name" />
    </xsd:key>

    <xsd:key name="type">
      <xsd:selector xpath="sub:complexType|sub:simpleType" />
      <xsd:field xpath="@name" />
    </xsd:key>

    <xsd:key name="group">
      <xsd:selector xpath="sub:group" />
      <xsd:field xpath="@name" />
    </xsd:key>

    <xsd:key name="attributeGroup">
      <xsd:selector xpath="sub:attributeGroup" />
      <xsd:field xpath="@name" />
    </xsd:key>

    <!-- not in DFDL v1.0
      <xsd:key name="notation">
      <xsd:selector xpath="sub:notation"/>
      <xsd:field xpath="@name"/>
      </xsd:key>


      <xsd:key name="identityConstraint">
      <xsd:selector xpath=".//xsd:key|.//xsd:unique|.//xsd:keyref"/>
      <xsd:field xpath="@name"/>
      </xsd:key>
    -->
  </xsd:element>

  <xsd:simpleType name="allNNI">
    <xsd:annotation>
      <xsd:documentation>
        for maxOccurs
      </xsd:documentation>
    </xsd:annotation>
    <xsd:union memberTypes="xsd:nonNegativeInteger">
      <xsd:simpleType>
        <xsd:restriction base="xsd:NMTOKEN">
          <xsd:enumeration value="unbounded" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>

  <xsd:attributeGroup name="occurs">
    <xsd:annotation>
      <xsd:documentation>
        for all particles
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="minOccurs" type="xsd:nonNegativeInteger"
      use="optional" default="1" />
    <xsd:attribute name="maxOccurs" type="sub:allNNI" use="optional"
      default="1" />
  </xsd:attributeGroup>

  <xsd:attributeGroup name="defRef">
    <xsd:annotation>
      <xsd:documentation>
        for element, group and attributeGroup,
        which both define and reference
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="name" type="xsd:NCName" />
    <xsd:attribute name="ref" type="xsd:QName" />
  </xsd:attributeGroup>

  <xsd:group name="typeDefParticle">
    <xsd:annotation>
      <xsd:documentation>
        'complexType' uses this
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="group" type="sub:groupRef" />
      <!-- <xsd:element ref="xsd:all"/> -->
      <xsd:element ref="sub:choice" />
      <xsd:element ref="sub:sequence" />
    </xsd:choice>
  </xsd:group>



  <xsd:group name="nestedParticle">
    <xsd:choice>
      <xsd:element name="element" type="sub:localElement" />
      <xsd:element name="group" type="sub:groupRef" />
      <xsd:element ref="sub:choice" />
      <xsd:element ref="sub:sequence" />
      <!-- <xsd:element ref="sub:any"/> -->
    </xsd:choice>
  </xsd:group>

  <xsd:group name="particle">
    <xsd:choice>
      <xsd:element name="element" type="sub:localElement" />
      <xsd:element name="group" type="sub:groupRef" />
      <!-- <xsd:element ref="xsd:all"/> -->
      <xsd:element ref="sub:choice" />
      <xsd:element ref="sub:sequence" />
      <!-- <xsd:element ref="sub:any"/> -->
    </xsd:choice>
  </xsd:group>

  <!-- No attributes in DFDL v1.0
    <xsd:complexType name="attribute">
    <xsd:complexContent>
    <xsd:extension base="sub:annotated">
    <xsd:sequence>
    <xsd:element name="simpleType" minOccurs="0" type="sub:localSimpleType"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="sub:defRef"/>
    <xsd:attribute name="type" type="xsd:QName"/>
    <xsd:attribute name="use" use="optional" default="optional">
    <xsd:simpleType>
    <xsd:restriction base="xsd:NMTOKEN">
    <xsd:enumeration value="prohibited"/>
    <xsd:enumeration value="optional"/>
    <xsd:enumeration value="required"/>
    </xsd:restriction>
    </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="default" type="xsd:string"/>
    <xsd:attribute name="fixed" type="xsd:string"/>
    <xsd:attribute name="form" type="sub:formChoice"/>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="topLevelAttribute">
    <xsd:complexContent>
    <xsd:restriction base="sub:attribute">
    <xsd:sequence>
    <xsd:element ref="sub:annotation" minOccurs="0"/>
    <xsd:element name="simpleType" minOccurs="0" type="sub:localSimpleType"/>
    </xsd:sequence>
    <xsd:attribute name="ref" use="prohibited"/>
    <xsd:attribute name="form" use="prohibited"/>
    <xsd:attribute name="use" use="prohibited"/>
    <xsd:attribute name="name" use="required" type="xsd:NCName"/>
    <xsd:attributeGroup ref="sub:anyOther"/>
    </xsd:restriction>
    </xsd:complexContent>
    </xsd:complexType>
  -->

  <!-- No attribute decls of any sort in DFDL v1.0
    <xsd:group name="attrDecls">
    <xsd:sequence>
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
    <xsd:element name="attribute" type="sub:attribute"/>
    <xsd:element name="attributeGroup" type="sub:attributeGroupRef"/>
    </xsd:choice>
    <xsd:element ref="sub:anyAttribute" minOccurs="0"/>
    </xsd:sequence>
    </xsd:group>
  -->
  <!--
    <xsd:element name="anyAttribute" type="sub:wildcard" id="anyAttribute">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-anyAttribute"/>
    </xsd:annotation>
    </xsd:element>
  -->
  <xsd:group name="complexTypeModel">
    <xsd:choice>
      <!-- <xsd:element ref="sub:simpleContent"/> Not DFDL v1.0 -->
      <!-- <xsd:element ref="sub:complexContent"/> Not DFDL v1.0 -->
      <xsd:sequence>
        <xsd:annotation>
          <xsd:documentation>
            This branch is short for
            &lt;complexContent>
            &lt;restriction base="xsd:anyType">
            ...
            &lt;/restriction>
            &lt;/complexContent></xsd:documentation>
        </xsd:annotation>
        <xsd:group ref="sub:typeDefParticle" minOccurs="0" />
        <!-- <xsd:group ref="sub:attrDecls"/> --> <!-- no attributes in DFDL -->
      </xsd:sequence>
    </xsd:choice>
  </xsd:group>

  <xsd:complexType name="complexType" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sub:annotated">
        <xsd:group ref="sub:complexTypeModel" />
        <xsd:attribute name="name" type="xsd:NCName">
          <xsd:annotation>
            <xsd:documentation>
              Will be restricted to required or forbidden
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- No type derivation (for complex types in DFDL v1.0
          <xsd:attribute name="mixed" type="xsd:boolean" use="optional" default="false">
          <xsd:annotation>
          <xsd:documentation>
          Not allowed if simpleContent child is chosen.
          May be overriden by setting on complexContent child.</xsd:documentation>
          </xsd:annotation>
          </xsd:attribute>
        -->
        <!-- none of these make sense in DFDL v1.0. Changed to "prohibited" -->
        <xsd:attribute name="abstract" type="xsd:boolean"
          use="prohibited" /> <!-- default="false" -->
        <xsd:attribute name="final" type="sub:derivationSet"
          use="prohibited" />
        <xsd:attribute name="block" type="sub:derivationSet"
          use="prohibited" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!--
    <xsd:complexType name="restrictionType">
    <xsd:complexContent>
    <xsd:extension base="sub:annotated">
    <xsd:sequence>
    <xsd:choice minOccurs="0">
    <xsd:group ref="sub:typeDefParticle"/>
    <xsd:group ref="sub:simpleRestrictionModel"/>
    </xsd:choice>
    <xsd:group ref="sub:attrDecls"/>
    </xsd:sequence>
    <xsd:attribute name="base" type="xsd:QName" use="required"/>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>



    <xsd:complexType name="extensionType">
    <xsd:complexContent>
    <xsd:extension base="sub:annotated">
    <xsd:sequence>
    <xsd:group ref="sub:typeDefParticle" minOccurs="0"/>
    <xsd:group ref="sub:attrDecls"/>
    </xsd:sequence>
    <xsd:attribute name="base" type="xsd:QName" use="required"/>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>
  -->


  <!--
    <xsd:complexType name="simpleExtensionType">
    <xsd:complexContent>
    <xsd:restriction base="sub:extensionType">
    <xsd:sequence>
    <xsd:annotation>
    <xsd:documentation>
    No typeDefParticle group reference</xsd:documentation>
    </xsd:annotation>
    <xsd:element ref="sub:annotation" minOccurs="0"/>
    <xsd:group ref="sub:attrDecls"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="sub:anyOther"/>
    </xsd:restriction>
    </xsd:complexContent>
    </xsd:complexType>


    <xsd:element name="simpleContent" id="simpleContent">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-simpleContent"/>
    </xsd:annotation>
    <xsd:complexType>
    <xsd:complexContent>
    <xsd:extension base="sub:annotated">
    <xsd:choice>
    <xsd:element name="restriction" type="sub:simpleRestrictionType"/>
    <xsd:element name="extension" type="sub:simpleExtensionType"/>
    </xsd:choice>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>
    </xsd:element>
  -->

  <xsd:attributeGroup name="anyOther">
    <!--
      
      IBM's DFDL Schemas have ibm-specific attributes on them that we 
      need to tolerate. Users may want to decorate their DFDL schemas with
      other non-native and non-DFDL attributes and annotation sub-elements.
      
      So the behavior here has been switched back to the XSD Default behavior
      which is lax validation allowing any other attribute to appear.
      
      The problem: this disables ability to catch certain typographical errors.
      In fact a bunch of our negative tests will have to be fixed, as they are 
      counting on errors from validation of these typos and mistakes and 
      that sort of thing.
      
      A common error is to forget the dfdl: prefix on 
      a short form dfdl property binding, or to include the dfdl: prefix
      one on a long-form format annotation. This will no longer be caught by 
      the validator. 
      
      We will have to build explicit checking for this into Daffodil's traversal
      of the schema. 
      
      -->
    <xsd:anyAttribute namespace="##other" processContents="lax"/> 
    <!-- <xsd:anyAttribute namespace="##other" processContents="strict"/> -->


    <!-- need some wildcard to allow xml:lang, xml:space etc. which do appear in 
      schemas sometimes -->
      
    <!-- Daffodil augments schemas with dafint:file dafint:line and dafint:col -->
          
    <!-- Daffodil extensions to DFDL intended for end-users use the dafext namespace -->
          
    <!-- Not important to validate these, and we need to tolerate
      Other attributes from other DFDL implementations -->
     
     <!-- <xsd:anyAttribute 
    namespace="http://www.w3.org/XML/1998/namespace 
    urn:ogf:dfdl:2013:imp:daffodil.apache.org:2017:int 
    urn:ogf:dfdl:2013:imp:daffodil.apache.org:2017:ext
    http://www.ibm.com/schema/extensions"
      processContents="lax"
    /> -->


  </xsd:attributeGroup>

  <xsd:complexType name="topLevelComplexType">
    <xsd:complexContent>
      <xsd:restriction base="sub:complexType">
        <xsd:sequence>
          <xsd:element ref="sub:annotation" minOccurs="0" />
          <xsd:group ref="sub:complexTypeModel" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:NCName" use="required" />
        <xsd:attributeGroup ref="sub:anyOther" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="localComplexType">
    <xsd:complexContent>
      <xsd:restriction base="sub:complexType">
        <xsd:sequence>
          <xsd:element ref="sub:annotation" minOccurs="0" />
          <xsd:group ref="sub:complexTypeModel" />
        </xsd:sequence>
        <xsd:attribute name="name" use="prohibited" />
        <xsd:attribute name="abstract" use="prohibited" />
        <xsd:attribute name="final" use="prohibited" />
        <xsd:attribute name="block" use="prohibited" />
        <xsd:attributeGroup ref="sub:anyOther" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>


  <!--
    <xsd:complexType name="complexRestrictionType">
    <xsd:complexContent>
    <xsd:restriction base="sub:restrictionType">
    <xsd:sequence>
    <xsd:element ref="sub:annotation" minOccurs="0"/>
    <xsd:choice minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>This choice is added simply to
    make this a valid restriction per the REC</xsd:documentation>
    </xsd:annotation>
    <xsd:group ref="sub:typeDefParticle"/>
    </xsd:choice>
    <xsd:group ref="sub:attrDecls"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="sub:anyOther"/>
    </xsd:restriction>
    </xsd:complexContent>
    </xsd:complexType>
  -->

  <!--
    <xsd:element name="complexContent" id="complexContent">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-complexContent"/>
    </xsd:annotation>
    <xsd:complexType>
    <xsd:complexContent>
    <xsd:extension base="sub:annotated">

    <xsd:choice>
    <xsd:element name="restriction" type="sub:complexRestrictionType"/>
    <xsd:element name="extension" type="sub:extensionType"/>
    </xsd:choice>

    No mixed content in DFDL v1.0
    <xsd:attribute name="mixed" type="xsd:boolean">
    <xsd:annotation>
    <xsd:documentation>
    Overrides any setting on complexType parent.</xsd:documentation>
    </xsd:annotation>
    </xsd:attribute>

    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>
    </xsd:element>
  -->
  <!--
    <xsd:complexType name="simpleRestrictionType">
    <xsd:complexContent>
    <xsd:restriction base="sub:restrictionType">
    <xsd:sequence>
    <xsd:element ref="sub:annotation" minOccurs="0"/>
    <xsd:choice minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>This choice is added simply to
    make this a valid restriction per the REC</xsd:documentation>
    </xsd:annotation>
    <xsd:group ref="sub:simpleRestrictionModel"/>
    </xsd:choice>
    <xsd:group ref="sub:attrDecls"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="sub:anyOther"/>
    </xsd:restriction>
    </xsd:complexContent>
    </xsd:complexType>
  -->

  <xsd:element name="complexType" type="sub:topLevelComplexType"
    id="complexType">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-1/#element-complexType" />
    </xsd:annotation>
  </xsd:element>

  <xsd:simpleType name="__blockSet">
    <xsd:annotation>
      <xsd:documentation>
        A utility type, not for public use
      </xsd:documentation>
      <xsd:documentation>
        #all or (possibly empty) subset of {substitution, extension,
        restriction}
      </xsd:documentation>
    </xsd:annotation>
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="#all" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:list>
          <xsd:simpleType>
            <xsd:restriction base="sub:derivationControl">
              <!-- <xsd:enumeration value="extension"/> -->
              <xsd:enumeration value="restriction" />
              <!-- <xsd:enumeration value="substitution"/> -->
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:list>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>

  <xsd:complexType name="element" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        The element element can be used either
        at the top level to define an element-type binding globally,
        or within a content model to either reference a globally-defined
        element or type or declare an element-type binding locally.
        The ref form is not allowed at the top level.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:complexContent>
      <xsd:extension base="sub:annotated">
        <xsd:sequence>
          <xsd:choice minOccurs="0" maxOccurs="1">
            <xsd:element name="simpleType" type="sub:localSimpleType" />
            <xsd:element name="complexType" type="sub:localComplexType" />
          </xsd:choice>
          <!-- <xsd:group ref="sub:identityConstraint" minOccurs="0" maxOccurs="unbounded"/> 
            Not in DFDL v1.0 -->
        </xsd:sequence>
        <xsd:attributeGroup ref="sub:defRef" />
        <xsd:attribute name="type" type="xsd:QName" />
        <!-- <xsd:attribute name="substitutionGroup" type="xsd:QName"/> Not 
          in DFDL v1.0 -->
        <xsd:attributeGroup ref="sub:occurs" />
        <xsd:attribute name="default" type="xsd:string" />
        <xsd:attribute name="fixed" type="xsd:string" />
        <!-- remove default="false" because Xerces is inserting that
        as part of its parsing, and that ends up being incorrect since
        element references cannot have nillable -->
        <xsd:attribute name="nillable" type="xsd:boolean" />
        <!-- Not in DFDL v1.0
          <xsd:attribute name="abstract" type="xsd:boolean" use="optional" 
          default="false"/>
          <xsd:attribute name="final" type="sub:derivationSet"/>
          <xsd:attribute name="block" type="sub:blockSet"/>
          <xsd:attribute name="form" type="sub:formChoice"/>
        -->
        <!--
          Include short-form DFDL Attributes.
        -->
        <xsd:attributeGroup ref="dfdl:BaseAGQualified" />
        <xsd:attributeGroup ref="dfdl:CommonAGQualified" />
        <xsd:attributeGroup ref="dfdl:AlignmentAGQualified" />
        <xsd:attributeGroup ref="dfdl:MarkupAGQualified" />
        <xsd:attributeGroup ref="dfdl:ElementAGQualified" />

      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="topLevelElement">
    <xsd:complexContent>
      <xsd:restriction base="sub:element">
        <xsd:sequence>
          <xsd:element ref="sub:annotation" minOccurs="0" />
          <xsd:choice minOccurs="0">
            <xsd:element name="simpleType" type="sub:localSimpleType" />
            <xsd:element name="complexType" type="sub:localComplexType" />
          </xsd:choice>
          <!-- <xsd:group ref="sub:identityConstraint" minOccurs="0" maxOccurs="unbounded"/> 
            Not in DFDL v1.0 -->
        </xsd:sequence>
        <xsd:attribute name="ref" use="prohibited" />
        <xsd:attribute name="form" use="prohibited" />
        <xsd:attribute name="minOccurs" use="prohibited" />
        <xsd:attribute name="maxOccurs" use="prohibited" />
        <xsd:attribute name="name" use="required" type="xsd:NCName" />
        <xsd:attributeGroup ref="sub:anyOther" />

      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="localElement">
    <xsd:complexContent>
      <xsd:restriction base="sub:element">
        <xsd:sequence>
          <xsd:element ref="sub:annotation" minOccurs="0" />
          <xsd:choice minOccurs="0">
            <xsd:element name="simpleType" type="sub:localSimpleType" />
            <xsd:element name="complexType" type="sub:localComplexType" />
          </xsd:choice>
          <!-- <xsd:group ref="sub:identityConstraint" minOccurs="0" maxOccurs="unbounded"/> 
            Not in DFDL v1.0 -->
        </xsd:sequence>
        <xsd:attribute name="substitutionGroup" use="prohibited" />
        <xsd:attribute name="final" use="prohibited" />
        <xsd:attribute name="abstract" use="prohibited" />
        <xsd:attributeGroup ref="sub:anyOther" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="element" type="sub:topLevelElement" id="element">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-1/#element-element" />
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="group" abstract="true">
    <xsd:annotation>
      <xsd:documentation>
        group type for explicit groups, named top-level groups and
        group references
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="sub:annotated">
        <xsd:group ref="sub:particle" minOccurs="0" maxOccurs="unbounded" />
        <xsd:attributeGroup ref="sub:defRef" />
        <!-- No Occurs except on elements in DFDL v1.0
          <xsd:attributeGroup ref="sub:occurs"/>
        -->
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="realGroup">
    <xsd:complexContent>
      <xsd:restriction base="sub:group">
        <xsd:sequence>
          <xsd:element ref="sub:annotation" minOccurs="0" />
          <xsd:choice minOccurs="0" maxOccurs="1">
            <xsd:element ref="sub:choice" />
            <xsd:element ref="sub:sequence" />
          </xsd:choice>
        </xsd:sequence>
        <xsd:attributeGroup ref="sub:anyOther" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="namedGroup">
    <xsd:complexContent>
      <xsd:extension base="sub:realGroup">
        <!-- <xsd:attribute name="name" use="required" type="xsd:NCName"/> -->
        <xsd:attribute name="ref" use="prohibited" />
        <xsd:attribute name="minOccurs" use="prohibited" />
        <xsd:attribute name="maxOccurs" use="prohibited" />
        <xsd:attributeGroup ref="sub:anyOther" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="groupRef">
    <xsd:complexContent>
      <xsd:extension base="sub:annotated">
        <xsd:attribute name="ref" use="required" type="xsd:QName" />
        <xsd:attribute name="name" use="prohibited" />
        <xsd:attributeGroup ref="sub:anyOther" />

        <!-- DFDL -->

        <xsd:attributeGroup ref="dfdl:BaseAGQualified" />
        <xsd:attributeGroup ref="dfdl:CommonAGQualified" />
        <xsd:attributeGroup ref="dfdl:AlignmentAGQualified" />
        <xsd:attributeGroup ref="dfdl:MarkupAGQualified" />
        <xsd:attributeGroup ref="dfdl:GroupAGQualified" />

      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="explicitGroup">
    <xsd:annotation>
      <xsd:documentation>
        group type for the three kinds of group
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="sub:annotation" minOccurs="0" />
      <xsd:group ref="sub:nestedParticle" minOccurs="0"
        maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attributeGroup ref="sub:anyOther" />

    <!-- DFDL attributes for short form -->
    <xsd:attributeGroup ref="dfdl:BaseAGQualified" />
    <xsd:attributeGroup ref="dfdl:CommonAGQualified" />
    <xsd:attributeGroup ref="dfdl:AlignmentAGQualified" />
    <xsd:attributeGroup ref="dfdl:MarkupAGQualified" />
    <xsd:attributeGroup ref="dfdl:GroupCommonAGQualified" />
  </xsd:complexType>

  <xsd:complexType name="simpleExplicitGroup">
    <xsd:complexContent>
      <xsd:restriction base="sub:explicitGroup">
        <xsd:sequence>
          <xsd:element ref="sub:annotation" minOccurs="0" />
          <xsd:group ref="sub:nestedParticle" minOccurs="0"
            maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="minOccurs" use="prohibited" />
        <xsd:attribute name="maxOccurs" use="prohibited" />
        <xsd:attributeGroup ref="sub:anyOther" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- No ALL groups in DFDL v1.0
    <xsd:group name="allModel">
    <xsd:sequence>
    <xsd:element ref="sub:annotation" minOccurs="0"/>
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
    <xsd:annotation>
    <xsd:documentation>This choice with min/max is here to
    avoid a pblm with the Elt:All/Choice/Seq
    Particle derivation constraint</xsd:documentation>
    </xsd:annotation>
    <xsd:element name="element" type="sub:narrowMaxMin"/>
    </xsd:choice>
    </xsd:sequence>
    </xsd:group>
  -->

  <xsd:complexType name="narrowMaxMin">
    <xsd:annotation>
      <xsd:documentation>restricted max/min</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sub:localElement">
        <xsd:sequence>
          <xsd:element ref="sub:annotation" minOccurs="0" />
          <xsd:choice minOccurs="0">
            <xsd:element name="simpleType" type="sub:localSimpleType" />
            <xsd:element name="complexType" type="sub:localComplexType" />
          </xsd:choice>
          <!-- <xsd:group ref="sub:identityConstraint" minOccurs="0" maxOccurs="unbounded"/> 
            Not in DFDL v1.0 -->
        </xsd:sequence>
        <xsd:attribute name="minOccurs" use="optional"
          default="1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:nonNegativeInteger">
              <xsd:enumeration value="0" />
              <xsd:enumeration value="1" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="maxOccurs" use="optional"
          default="1">
          <xsd:simpleType>
            <xsd:restriction base="sub:allNNI">
              <xsd:enumeration value="0" />
              <xsd:enumeration value="1" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attributeGroup ref="sub:anyOther" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="explicitChoiceGroup">
    <xsd:complexContent>
      <xsd:extension base="sub:explicitGroup">
        <!-- DFDL -->
        <xsd:attributeGroup ref="dfdl:ChoiceAGQualified" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="choice" type="sub:explicitChoiceGroup"
    id="choice">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-1/#element-choice" />
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="explicitSequenceGroup">
    <xsd:complexContent>
      <xsd:extension base="sub:explicitGroup">
        <!-- DFDL -->
        <xsd:attributeGroup ref="dfdl:SequenceAGQualified" />
        <xsd:attributeGroup ref="dfdl:SeparatorAGQualified" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="sequence" type="sub:explicitSequenceGroup"
    id="sequence">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-1/#element-sequence" />
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="group" type="sub:namedGroup" id="group">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-1/#element-group" />
    </xsd:annotation>
  </xsd:element>

  <!-- <xsd:complexType name="wildcard">
    <xsd:complexContent>
    <xsd:extension base="sub:annotated">
    <xsd:attribute name="namespace" type="sub:namespaceList" use="optional" 
    default="##any"/>
  -->
  <!-- Chapter 21: processContents not allowed in v1
    <xsd:attribute name="processContents" use="optional" default="strict">
    <xsd:simpleType>
    <xsd:restriction base="xsd:NMTOKEN">
    <xsd:enumeration value="skip"/>
    <xsd:enumeration value="lax"/>
    <xsd:enumeration value="strict"/>
    </xsd:restriction>
    </xsd:simpleType>
    </xsd:attribute>
  --> <!--
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>
  -->
  <!-- No ANY wildcards in DFDL v1.0
    <xsd:element name="any" id="any">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-any"/>
    </xsd:annotation>
    <xsd:complexType>
    <xsd:complexContent>
    <xsd:extension base="sub:wildcard">
    <xsd:attributeGroup ref="sub:occurs"/>
    <xsd:attributeGroup ref="sub:anyOther"/>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>
    </xsd:element>
  -->
  <!--
    <xsd:annotation>
    <xsd:documentation>
    simple type for the value of the 'namespace' attr of
    'any' and 'anyAttribute'</xsd:documentation>
    </xsd:annotation>
    <xsd:annotation>
    <xsd:documentation>
    Value is
    ##any - - any non-conflicting WFXML/attribute at all

    ##other - - any non-conflicting WFXML/attribute from
    namespace other than targetNS

    ##local - - any unqualified non-conflicting WFXML/attribute

    one or - - any non-conflicting WFXML/attribute from
    more URI the listed namespaces
    references
    (space separated)

    ##targetNamespace or ##local may appear in the above list, to
    refer to the targetNamespace of the enclosing
    schema or an absent targetNamespace respectively</xsd:documentation>
    </xsd:annotation>

    <xsd:simpleType name="namespaceList">
    <xsd:annotation>
    <xsd:documentation>
    A utility type, not for public use</xsd:documentation>
    </xsd:annotation>
    <xsd:union>
    <xsd:simpleType>
    <xsd:restriction base="xsd:token">
    <xsd:enumeration value="##any"/>
    <xsd:enumeration value="##other"/>
    </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType>
    <xsd:list>
    <xsd:simpleType>
    <xsd:union memberTypes="xsd:anyURI">
    <xsd:simpleType>
    <xsd:restriction base="xsd:token">
    <xsd:enumeration value="##targetNamespace"/>
    <xsd:enumeration value="##local"/>
    </xsd:restriction>
    </xsd:simpleType>
    </xsd:union>
    </xsd:simpleType>
    </xsd:list>
    </xsd:simpleType>
    </xsd:union>
    </xsd:simpleType>
  -->
  <!--
    <xsd:element name="attribute" type="sub:topLevelAttribute" id="attribute">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-attribute"/>
    </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="attributeGroup" abstract="true">
    <xsd:complexContent>
    <xsd:extension base="sub:annotated">
    <xsd:group ref="sub:attrDecls"/>
    <xsd:attributeGroup ref="sub:defRef"/>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="namedAttributeGroup">
    <xsd:complexContent>
    <xsd:restriction base="sub:attributeGroup">
    <xsd:sequence>
    <xsd:element ref="sub:annotation" minOccurs="0"/>
    <xsd:group ref="sub:attrDecls"/>
    </xsd:sequence>
    <xsd:attribute name="name" use="required" type="xsd:NCName"/>
    <xsd:attribute name="ref" use="prohibited"/>
    <xsd:attributeGroup ref="sub:anyOther"/>
    </xsd:restriction>
    </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="attributeGroupRef">
    <xsd:complexContent>
    <xsd:restriction base="sub:attributeGroup">
    <xsd:sequence>
    <xsd:element ref="sub:annotation" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="ref" use="required" type="xsd:QName"/>
    <xsd:attribute name="name" use="prohibited"/>
    <xsd:attributeGroup ref="sub:anyOther"/>
    </xsd:restriction>
    </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="attributeGroup" type="sub:namedAttributeGroup" id="attributeGroup">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-attributeGroup"/>
    </xsd:annotation>
    </xsd:element>
  -->

  <xsd:element name="include" id="include">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-1/#element-include" />
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="sub:annotated">
          <xsd:attribute name="schemaLocation" type="xsd:anyURI"
            use="required" />
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <!--
    <xsd:element name="redefine" id="redefine">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-redefine"/>
    </xsd:annotation>
    <xsd:complexType>
    <xsd:complexContent>
    <xsd:extension base="sub:openAttrs">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
    <xsd:element ref="sub:annotation"/>
    <xsd:group ref="sub:redefinable"/>
    </xsd:choice>
    <xsd:attribute name="schemaLocation" type="xsd:anyURI" use="required"/>
    <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>
    </xsd:element>
  -->

  <xsd:element name="import" id="import">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-1/#element-import" />
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="sub:annotated">
          <xsd:attribute name="namespace" type="xsd:anyURI" />
          <xsd:attribute name="schemaLocation" type="xsd:anyURI" />
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <!--
    <xsd:element name="__selector" id="selector">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-selector"/>
    </xsd:annotation>
    <xsd:complexType>
    <xsd:complexContent>
    <xsd:extension base="sub:annotated">
    <xsd:attribute name="xpath" use="required">
    <xsd:simpleType>
    <xsd:annotation>
    <xsd:documentation>A subset of XPath expressions for use
    in selectors</xsd:documentation>
    <xsd:documentation>A utility type, not for public
    use</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
    <xsd:annotation>
    <xsd:documentation>The following pattern is intended to allow XPath
    expressions per the following EBNF:
    Selector ::= Path ( '|' Path )*
    Path ::= ('.//')? Step ( '/' Step )*
    Step ::= '.' | NameTest
    NameTest ::= QName | '*' | NCName ':' '*'
    child:: is also allowed
    </xsd:documentation>
    </xsd:annotation>
    <xsd:pattern value="(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*(\|(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*)*">
    </xsd:pattern>
    </xsd:restriction>
    </xsd:simpleType>
    </xsd:attribute>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>
    </xsd:element>

    <xsd:element name="__field" id="field">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-field"/>
    </xsd:annotation>
    <xsd:complexType>
    <xsd:complexContent>
    <xsd:extension base="sub:annotated">
    <xsd:attribute name="xpath" use="required">
    <xsd:simpleType>
    <xsd:annotation>
    <xsd:documentation>A subset of XPath expressions for use
    in fields</xsd:documentation>
    <xsd:documentation>A utility type, not for public
    use</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
    <xsd:annotation>
    <xsd:documentation>The following pattern is intended to allow XPath
    expressions per the same EBNF as for selector,
    with the following change:
    Path ::= ('.//')? ( Step '/' )* ( Step | '@' NameTest )
    </xsd:documentation>
    </xsd:annotation>
    <xsd:pattern value="(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*))))(\|(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*)))))*">
    </xsd:pattern>
    </xsd:restriction>
    </xsd:simpleType>
    </xsd:attribute>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="__keybase">
    <xsd:complexContent>
    <xsd:extension base="sub:annotated">
    <xsd:sequence>
    <xsd:element ref="sub:selector"/>
    <xsd:element ref="sub:field" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:NCName" use="required"/>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>

    <xsd:group name="__identityConstraint">
    <xsd:annotation>
    <xsd:documentation>The three kinds of identity constraints, all with
    type of or derived from 'keybase'.
    </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
    <xsd:element ref="sub:unique"/>
    <xsd:element ref="sub:key"/>
    <xsd:element ref="sub:keyref"/>
    </xsd:choice>
    </xsd:group>

    <xsd:element name="__unique" type="sub:keybase" id="unique">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-unique"/>
    </xsd:annotation>
    </xsd:element>
    <xsd:element name="__key" type="sub:keybase" id="key">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-key"/>
    </xsd:annotation>
    </xsd:element>
    <xsd:element name="__keyref" id="keyref">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-keyref"/>
    </xsd:annotation>
    <xsd:complexType>
    <xsd:complexContent>
    <xsd:extension base="sub:keybase">
    <xsd:attribute name="refer" type="xsd:QName" use="required"/>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>
    </xsd:element>

    <xsd:element name="__notation" id="notation">
    <xsd:annotation>
    <xsd:documentation source="http://www.w3.org/TR/xmlschema-1/#element-notation"/>
    </xsd:annotation>
    <xsd:complexType>
    <xsd:complexContent>
    <xsd:extension base="sub:annotated">
    <xsd:attribute name="name" type="xsd:NCName" use="required"/>
    <xsd:attribute name="public" type="sub:public"/>
    <xsd:attribute name="system" type="xsd:anyURI"/>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="public">
    <xsd:annotation>
    <xsd:documentation>
    A utility type, not for public use</xsd:documentation>
    <xsd:documentation>
    A public identifier, per ISO 8879</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token"/>
    </xsd:simpleType>
  -->
  <xsd:element name="appinfo" id="appinfo">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-1/#element-appinfo" />
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
        <!--
           strict so tooling will check DFDL annotations 
          <xsd:any namespace="http://www.ogf.org/dfdl/dfdl-1.0/" processContents="strict"/>
          <xsd:any namespace="##targetNamespace" processContents="lax"/>
          <xsd:any namespace="##other" processContents="lax"/>
        -->
      </xsd:choice>
      <xsd:attribute name="source" type="xsd:anyURI" />
      <xsd:attributeGroup ref="sub:anyOther" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="documentation" id="documentation">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-1/#element-documentation" />
    </xsd:annotation>
    <xsd:complexType mixed="true">
      <xsd:sequence minOccurs="0" maxOccurs="unbounded">
        <xsd:any processContents="lax" />
      </xsd:sequence>
      <xsd:attribute name="source" type="xsd:anyURI" />
      <xsd:attribute ref="xml:lang" />
      <xsd:attributeGroup ref="sub:anyOther" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="annotation" id="annotation">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-1/#element-annotation" />
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="sub:openAttrs">
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element ref="sub:appinfo" />
            <xsd:element ref="sub:documentation" />
          </xsd:choice>
          <xsd:attribute name="id" type="xsd:ID" />
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>



  <xsd:simpleType name="derivationControl">
    <xsd:annotation>
      <xsd:documentation>
        A utility type, not for public use
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <!-- <xsd:enumeration value="substitution"/> -->
      <!-- <xsd:enumeration value="extension"/> -->
      <xsd:enumeration value="restriction" />
      <!-- <xsd:enumeration value="list"/> -->
      <xsd:enumeration value="union" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:group name="simpleDerivation">
    <xsd:choice>
      <xsd:element ref="sub:restriction" />
      <!-- <xsd:element ref="sub:list"/> Not in DFDL v1.0 -->
      <xsd:element ref="sub:union" />
    </xsd:choice>
  </xsd:group>



  <xsd:simpleType name="simpleDerivationSet">
    <xsd:annotation>
      <xsd:documentation>
        #all or (possibly empty) subset of {restriction, union, list}
      </xsd:documentation>
      <xsd:documentation>
        A utility type, not for public use
      </xsd:documentation>
    </xsd:annotation>
    <xsd:union>
      <xsd:simpleType>
        <xsd:restriction base="xsd:token">
          <xsd:enumeration value="#all" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType>
        <xsd:list>
          <xsd:simpleType>
            <xsd:restriction base="sub:derivationControl">
              <!-- <xsd:enumeration value="list"/> -->
              <xsd:enumeration value="union" />
              <xsd:enumeration value="restriction" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:list>
      </xsd:simpleType>
    </xsd:union>
  </xsd:simpleType>

  <xsd:complexType name="simpleType" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="sub:annotated">
        <xsd:group ref="sub:simpleDerivation" />
        <xsd:attribute name="final" type="sub:simpleDerivationSet" />
        <xsd:attribute name="name" type="xsd:NCName">
          <xsd:annotation>
            <xsd:documentation>
              Can be restricted to required or
              forbidden
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>

        <!-- DFDL -->
        <xsd:attributeGroup ref="dfdl:BaseAGQualified" />
        <xsd:attributeGroup ref="dfdl:CommonAGQualified" />
        <xsd:attributeGroup ref="dfdl:AlignmentAGQualified" />
        <xsd:attributeGroup ref="dfdl:MarkupAGQualified" />
        <xsd:attributeGroup ref="dfdl:SimpleTypeAGQualified" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <xsd:complexType name="topLevelSimpleType">
    <xsd:complexContent>
      <xsd:restriction base="sub:simpleType">
        <xsd:sequence>
          <xsd:element ref="sub:annotation" minOccurs="0" />
          <xsd:group ref="sub:simpleDerivation" />
        </xsd:sequence>
        <xsd:attribute name="name" use="required" type="xsd:NCName">
          <xsd:annotation>
            <xsd:documentation>
              Required at the top level
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attributeGroup ref="sub:anyOther" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="localSimpleType">
    <xsd:complexContent>
      <xsd:restriction base="sub:simpleType">
        <xsd:sequence>
          <xsd:element ref="sub:annotation" minOccurs="0" />
          <xsd:group ref="sub:simpleDerivation" />
        </xsd:sequence>
        <xsd:attribute name="name" use="prohibited">
          <xsd:annotation>
            <xsd:documentation>
              Forbidden when nested
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="final" use="prohibited" />
        <xsd:attributeGroup ref="sub:anyOther" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="simpleType" type="sub:topLevelSimpleType"
    id="simpleType">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-2/#element-simpleType" />
    </xsd:annotation>
  </xsd:element>

  <xsd:group name="facets">
    <xsd:annotation>
      <xsd:documentation>
        We should use a substitution group for facets, but
        that's ruled out because it would allow users to
        add their own, which we're not ready for yet.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element ref="sub:minExclusive" />
      <xsd:element ref="sub:minInclusive" />
      <xsd:element ref="sub:maxExclusive" />
      <xsd:element ref="sub:maxInclusive" />
      <xsd:element ref="sub:totalDigits" />
      <xsd:element ref="sub:fractionDigits" />
      <xsd:element ref="sub:length" />
      <xsd:element ref="sub:minLength" />
      <xsd:element ref="sub:maxLength" />
      <xsd:element ref="sub:enumeration" />
      <!-- <xsd:element ref="sub:whiteSpace"/> -->
      <xsd:element ref="sub:pattern" />
    </xsd:choice>
  </xsd:group>

  <xsd:group name="simpleRestrictionModel">
    <xsd:sequence>
      <xsd:element name="simpleType" type="sub:localSimpleType"
        minOccurs="0" />
      <xsd:group ref="sub:facets" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:group>

  <xsd:element name="restriction" id="restriction">
    <xsd:complexType>
      <xsd:annotation>
        <xsd:documentation
          source="http://www.w3.org/TR/xmlschema-2/#element-restriction">
          base attribute and simpleType child are mutually
          exclusive, but one or other is required
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
        <xsd:extension base="sub:annotated">
          <xsd:group ref="sub:simpleRestrictionModel" />
          <xsd:attribute name="base" type="xsd:QName" use="optional" />
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <!--
    <xsd:element name="list" id="list">
    <xsd:complexType>
    <xsd:annotation>
    <xsd:documentation
    source="http://www.w3.org/TR/xmlschema-2/#element-list">
    itemType attribute and simpleType child are mutually
    exclusive, but one or other is required
    </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
    <xsd:extension base="sub:annotated">
    <xsd:sequence>
    <xsd:element name="simpleType" type="sub:localSimpleType"
    minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="itemType" type="xsd:QName" use="optional"/>
    </xsd:extension>
    </xsd:complexContent>
    </xsd:complexType>
    </xsd:element>
  -->
  <xsd:element name="union" id="union">
    <xsd:complexType>
      <xsd:annotation>
        <xsd:documentation
          source="http://www.w3.org/TR/xmlschema-2/#element-union">
          memberTypes attribute must be non-empty or there must
          be
          at least one simpleType child
        </xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
        <xsd:extension base="sub:annotated">
          <xsd:sequence>
            <xsd:element name="simpleType" type="sub:localSimpleType"
              minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
          <xsd:attribute name="memberTypes" use="optional">
            <xsd:simpleType>
              <xsd:list itemType="xsd:QName" />
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="facet">
    <xsd:complexContent>
      <xsd:extension base="sub:annotated">
        <xsd:attribute name="value" use="required" />
        <xsd:attribute name="fixed" type="xsd:boolean"
          use="optional" default="false" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="noFixedFacet">
    <xsd:complexContent>
      <xsd:restriction base="sub:facet">
        <xsd:sequence>
          <xsd:element ref="sub:annotation" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="fixed" use="prohibited" />
        <xsd:attributeGroup ref="sub:anyOther" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="minExclusive" id="minExclusive" type="sub:facet">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-2/#element-minExclusive" />
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="minInclusive" id="minInclusive" type="sub:facet">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-2/#element-minInclusive" />
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="maxExclusive" id="maxExclusive" type="sub:facet">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-2/#element-maxExclusive" />
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="maxInclusive" id="maxInclusive" type="sub:facet">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-2/#element-maxInclusive" />
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="numFacet">
    <xsd:complexContent>
      <xsd:restriction base="sub:facet">
        <xsd:sequence>
          <xsd:element ref="sub:annotation" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="value" type="xsd:nonNegativeInteger"
          use="required" />
        <xsd:attributeGroup ref="sub:anyOther" />
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="totalDigits" id="totalDigits">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-2/#element-totalDigits" />
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="sub:numFacet">
          <xsd:sequence>
            <xsd:element ref="sub:annotation" minOccurs="0" />
          </xsd:sequence>
          <xsd:attribute name="value" type="xsd:positiveInteger"
            use="required" />
          <xsd:attributeGroup ref="sub:anyOther" />
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="fractionDigits" id="fractionDigits"
    type="sub:numFacet">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-2/#element-fractionDigits" />
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="length" id="length" type="sub:numFacet">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-2/#element-length" />
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="minLength" id="minLength" type="sub:numFacet">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-2/#element-minLength" />
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="maxLength" id="maxLength" type="sub:numFacet">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-2/#element-maxLength" />
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="enumeration" id="enumeration" type="sub:noFixedFacet">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-2/#element-enumeration" />
    </xsd:annotation>
  </xsd:element>

  <!--
    <xsd:element name="whiteSpace" id="whiteSpace">
    <xsd:annotation>
    <xsd:documentation
    source="http://www.w3.org/TR/xmlschema-2/#element-whiteSpace"/>
    </xsd:annotation>
    <xsd:complexType>
    <xsd:complexContent>
    <xsd:restriction base="sub:facet">
    <xsd:sequence>
    <xsd:element ref="sub:annotation" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="value" use="required">
    <xsd:simpleType>
    <xsd:restriction base="xsd:NMTOKEN">
    <xsd:enumeration value="preserve"/>
    <xsd:enumeration value="replace"/>
    <xsd:enumeration value="collapse"/>
    </xsd:restriction>
    </xsd:simpleType>
    </xsd:attribute>
    <xsd:attributeGroup ref="sub:anyOther"/>
    </xsd:restriction>
    </xsd:complexContent>
    </xsd:complexType>
    </xsd:element>
  -->
  <xsd:element name="pattern" id="pattern">
    <xsd:annotation>
      <xsd:documentation
        source="http://www.w3.org/TR/xmlschema-2/#element-pattern" />
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="sub:noFixedFacet">
          <xsd:sequence>
            <xsd:element ref="sub:annotation" minOccurs="0" />
          </xsd:sequence>
          <xsd:attribute name="value" type="xsd:string"
            use="required" />
          <xsd:attributeGroup ref="sub:anyOther" />
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:annotation>
    <xsd:documentation>
      Subset of XSD types for DFDL v1.0
    </xsd:documentation>
  </xsd:annotation>

  <xsd:simpleType name="string" id="string">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="boolean" id="boolean">
    <xsd:restriction base="xsd:boolean">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="float" id="float">
    <xsd:restriction base="xsd:float">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="double" id="double">
    <xsd:restriction base="xsd:double">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="decimal" id="decimal">
    <xsd:restriction base="xsd:decimal">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="dateTime" id="dateTime">
    <xsd:restriction base="xsd:dateTime">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="time" id="time">
    <xsd:restriction base="xsd:time">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="date" id="date">
    <xsd:restriction base="xsd:date">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="hexBinary" id="hexBinary">
    <xsd:restriction base="xsd:hexBinary">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:annotation>
    <xsd:documentation>
      Now the derived primitive types
    </xsd:documentation>
  </xsd:annotation>


  <xsd:simpleType name="long" id="long">
    <xsd:restriction base="xsd:long">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="int" id="int">
    <xsd:restriction base="xsd:int">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="short" id="short">
    <xsd:restriction base="xsd:short">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="byte" id="byte">
    <xsd:restriction base="xsd:byte">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="unsignedLong" id="unsignedLong">
    <xsd:restriction base="xsd:unsignedLong">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="unsignedInt" id="unsignedInt">
    <xsd:restriction base="xsd:unsignedInt">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="unsignedShort" id="unsignedShort">
    <xsd:restriction base="xsd:unsignedShort">
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="unsignedByte" id="unsignedByte">
    <xsd:restriction base="xsd:unsignedByte">
    </xsd:restriction>
  </xsd:simpleType>


</xsd:schema>
