daffodil-runtime2/src/test/resources/org/apache/daffodil/runtime2/padtest.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<xs:schema
 elementFormDefault="qualified"
 xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
 xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Binary data format bindings -->

  <xs:include schemaLocation="org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/>
  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format
        ref="GeneralFormat"
        binaryBooleanFalseRep="0"
        binaryBooleanTrueRep="1"
        fillByte="%NUL;"
        prefixIncludesPrefixLength="no"
        representation="binary"/>
    </xs:appinfo>
  </xs:annotation>

  <!-- Types for testing -->

  <xs:simpleType name="length">
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>

  <xs:complexType name="padhexbinary">
    <xs:sequence>
      <!-- Store variable-length opaque bytes -->
      <xs:element name="opaque" type="xs:hexBinary"
                  dfdl:lengthKind="prefixed"
                  dfdl:lengthUnits="bytes"
                  dfdl:prefixLengthType="length"/>
      <!-- Pad "padhexbinary" to a multiple of 4 bytes -->
      <xs:sequence dfdl:alignment="4" dfdl:alignmentUnits="bytes"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="padtest">
    <xs:sequence>
      <xs:element name="padhexbinary" type="padhexbinary"/>
      <xs:element name="after" type="xs:unsignedInt"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Root elements for testing -->

  <xs:element name="padtest" type="padtest"/>

</xs:schema>
