daffodil/sub-projects/core/test/AJ.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" 
	targetNamespace="http://www.example.org/example1/">

  <!-- Simple Binary -->

  <element name="list">
    <complexType>      
      <sequence>
	<element name="x" type="xsd:byte">
	  <annotation>
	    <appinfo source="http://www.ogf.org/dfdl/">
	      <dfdl:element dfdl:representation="binary" 
			    dfdl:lengthKind="implicit"/>
	    </appinfo>
	  </annotation>
	</element>
	<element name="y" type="xsd:byte">
	  <annotation>
	    <appinfo source="http://www.ogf.org/dfdl/">
	      <dfdl:element dfdl:representation="binary" 
			    dfdl:lengthKind="implicit"/>
	    </appinfo>
	  </annotation>
	</element>
	<element name="z" type="xsd:byte">
	  <annotation>
	    <appinfo source="http://www.ogf.org/dfdl/">
	      <dfdl:element dfdl:representation="binary" 
			    dfdl:lengthKind="implicit"/>
	    </appinfo>
	  </annotation>
	</element>
	<element name="w" type="xsd:byte">
	  <annotation>
	    <appinfo source="http://www.ogf.org/dfdl/">
	      <dfdl:element dfdl:representation="binary" 
			    dfdl:lengthKind="implicit"/>
	    </appinfo>
	  </annotation>
	</element>
      </sequence>
    </complexType>
  </element>

</schema>
