daffodil-test/src/test/resources/org/apache/daffodil/ibm-tests/dpadelonearr_12.xsd

<?xml version="1.0" encoding="utf-8"?>
	<!--
		test example of delimited data -M(1-2)O(0-2)M(1-2), prefix delimited,
		separator suppressed,
	-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
	xmlns:cal="http://www.saf.cal/" elementFormDefault="unqualified"
	attributeFormDefault="unqualified" >

    <xs:include schemaLocation="org/apache/daffodil/xsd/built-in-formats.xsd"/>

	<xs:annotation>
		<xs:appinfo source="http://www.ogf.org/dfdl/">
			
			<dfdl:format ref="daffodilNewProperties1" initiator="" terminator="" leadingSkip="0" trailingSkip="0" textBidi="no" floating="no"   encoding="utf-8" byteOrder="bigEndian" alignment="1" alignmentUnits="bytes" fillByte="f"  
				truncateSpecifiedLengthString="no" ignoreCase="no" representation="text"
				textStringPadCharacter=" " textPadKind="none" textTrimKind="none"
				textStringJustification="left" lengthKind="delimited"
				textOutputMinLength="6" lengthUnits="bytes"
				textCalendarJustification="right" emptyValueDelimiterPolicy="none"  nilValueDelimiterPolicy="both" 
				documentFinalTerminatorCanBeMissing="no" initiatedContent="no"
				sequenceKind="ordered" escapeSchemeRef="" separator=""
				separatorPosition="prefix" separatorSuppressionPolicy="anyEmpty" 
                bitOrder="mostSignificantBitFirst"/>
		</xs:appinfo>
	</xs:annotation>
	<xs:annotation>
		<xs:appinfo source="http://www.ogf.org/dfdl/">

			<dfdl:defineFormat name="baseText">
				<dfdl:format byteOrder="bigEndian" encoding="utf-8"
					ignoreCase="no" representation="text" textOutputMinLength="6"
					textStringPadCharacter=" " textPadKind="none"
					textStringJustification="left" textTrimKind="none" lengthKind="delimited"
					lengthUnits="characters" />
			</dfdl:defineFormat>
			
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="groupElem" >
		<xs:complexType>
			<xs:sequence dfdl:initiatedContent="no"
				dfdl:sequenceKind="ordered" dfdl:separator="~">
				<xs:element name="Test1" type="xs:string" minOccurs="2"
					maxOccurs="2" dfdl:occursCountKind="fixed" dfdl:initiator="A:" >

				</xs:element>
				<xs:element name="Test2" type="xs:string" minOccurs="0"
					maxOccurs="2"  dfdl:occursCountKind="implicit" dfdl:initiator="B:" >

				</xs:element>
				<xs:element name="Test3" type="xs:string" minOccurs="0"
					maxOccurs="unbounded" dfdl:occursCountKind="implicit" dfdl:initiator="C:" >

				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
