daffodil-test/src/test/resources/edu/illinois/ncsa/daffodil/section15/choice_groups/minMaxChoice.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://example.com">

  <xs:complexType name="choice_minOccur">
    <xs:choice minOccurs="0">
      <xs:element name="inty" type="xs:int"
        dfdl:lengthKind="explicit" dfdl:length="{ 3 }" />
      <xs:element name="floaty" type="xs:float"
        dfdl:lengthKind="explicit" dfdl:length="{ 3 }" />
      <xs:element name="stringy" type="xs:string"
        dfdl:lengthKind="explicit" dfdl:length="{ 3 }" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="choice_maxOccur">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="inty" type="xs:int"
        dfdl:lengthKind="explicit" dfdl:length="{ 3 }" />
      <xs:element name="floaty" type="xs:float"
        dfdl:lengthKind="explicit" dfdl:length="{ 3 }" />
      <xs:element name="stringy" type="xs:string"
        dfdl:lengthKind="explicit" dfdl:length="{ 3 }" />
    </xs:choice>
  </xs:complexType>

</schema>
