daffodil-lib/src/main/resources/xsd/dafext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:sub="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ogf:dfdl:2013:imp:opensource.ncsa.illinois.edu:2012:ext"
	xmlns:tns="urn:ogf:dfdl:2013:imp:opensource.ncsa.illinois.edu:2012:ext">

	<!-- Copyright (C) 2013-2014, Tresys Technologies LLC. All Rights Reserved. -->

	<element name="externalVariableBindings" type="tns:externalVarType" />
	<complexType name="externalVarType">
		<sequence>
			<element ref="tns:bind" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<element name="bind" type="tns:bindType" />

	<simpleType name="bindNameType">
		<restriction base="xs:string" />
	</simpleType>
	<complexType name="bindType">
		<simpleContent>
			<extension base="tns:bindNameType">
				<attribute name="name" use="required">
					<simpleType>
						<restriction base="xs:string" />
					</simpleType>
				</attribute>
			</extension>
		</simpleContent>
	</complexType>

	<element name="tunables">
	    <complexType>
			<sequence>
				<element name="requireBitOrderProperty" minOccurs="0" type="xs:boolean" />
				<element name="requireEncodingErrorPolicyProperty" minOccurs="0" type="xs:boolean" />
				<element name="maxFieldContentLengthInBytes" minOccurs="0" type="xs:int" />
				<element name="maxOccursBounds" minOccurs="0" type="xs:int" />
				<element name="maxSkipLength" minOccurs="0" type="xs:int" />
				<element name="maxBinaryDecimalVirtualPoint" minOccurs="0" type="xs:int" />
				<element name="minBinaryDecimalVirtualPoint" minOccurs="0" type="xs:int" />
				<element name="generatedNamespacePrefixStem" minOccurs="0" type="xs:string" />
				<element name="readerByteBufferSize" minOccurs="0" type="xs:int" />
				<element name="maxLengthForVariableLengthDelimiterDisplay" minOccurs="0" type="xs:int" />
				<element name="inputFileMemoryMapLowThreshold" minOccurs="0" type="xs:int" />
			</sequence>
		</complexType>
	</element>

</xsd:schema>
