daffodil-test/src/test/resources/edu/illinois/ncsa/daffodil/ibm-tests/dpanum.dfdl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	>

    <!--  all schema number types with simple formatting  -->
    
	<xs:annotation>
		<xs:appinfo source="http://www.ogf.org/dfdl/">
		   <dfdl:format initiator="" terminator="" truncateSpecifiedLengthString="no"  textBidi="no" floating="no"   ref="numberStandardText" escapeSchemeRef="" emptyValueDelimiterPolicy="none"
					useNilForDefault="yes" nilValueDelimiterPolicy="none" nilKind="literalValue" nilValue="-"
					encoding="utf-8" byteOrder="bigEndian" lengthUnits="characters" 
					textOutputMinLength="1"
					alignment="1" alignmentUnits="bytes" fillByte="f" leadingSkip="0" trailingSkip="0"
					ignoreCase="no" lengthKind="delimited" sequenceKind="ordered"
					initiatedContent="no"		
					/>
				
			</xs:appinfo>
	</xs:annotation>

   <xs:annotation>
		<xs:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:defineFormat name="numberStandardText">
				<dfdl:format textNumberRep="standard" representation="text"
					textNumberJustification="right" textTrimKind="padChar" textPadKind="padChar"
					textNumberPadCharacter="0" textStandardBase="10"
					textNumberCheckPolicy="lax" textStandardGroupingSeparator=","
					textStandardDecimalSeparator="." textStandardExponentRep="e"
					textStandardInfinityRep="~" textStandardZeroRep=""
					textStandardNaNRep="z" textNumberRoundingMode="roundHalfDown"
					textNumberRounding="pattern"
					
					/>
			</dfdl:defineFormat>

			

		</xs:appinfo>
	</xs:annotation>


	<xs:element name="byte1"  
		type="xs:byte" dfdl:length="4" dfdl:lengthKind="explicit" dfdl:textNumberPattern="###0"
		dfdl:lengthUnits="bytes"  />
   
    <xs:element name="short1"  
		type="xs:short" dfdl:length="4" dfdl:lengthKind="explicit" dfdl:textNumberPattern="#0"
		dfdl:lengthUnits="bytes"  /> 
    
    <xs:element name="int1"  
		type="xs:int" dfdl:length="11" dfdl:lengthKind="explicit" dfdl:textNumberPattern="###0"
		dfdl:lengthUnits="bytes"  />
		
		<xs:element name="long1"  
		type="xs:long" dfdl:length="19" dfdl:lengthKind="explicit" dfdl:textNumberPattern="#0"
		dfdl:lengthUnits="bytes"  />
		
		<xs:element name="unsignedByte1"  
		type="xs:unsignedByte" dfdl:length="4" dfdl:lengthKind="explicit" dfdl:textNumberPattern="###0"
		dfdl:lengthUnits="bytes"  />
   
    <xs:element name="unsignedShort1"  
		type="xs:unsignedShort" dfdl:length="4" dfdl:lengthKind="explicit" dfdl:textNumberPattern="#0"
		dfdl:lengthUnits="bytes"  /> 
    
    <xs:element name="unsignedInt1"  
		type="xs:unsignedInt" dfdl:length="11" dfdl:lengthKind="explicit" dfdl:textNumberPattern="###0"
		dfdl:lengthUnits="bytes"  />
		
		<xs:element name="unsignedLong1"  
		type="xs:unsignedLong" dfdl:length="19" dfdl:lengthKind="explicit" dfdl:textNumberPattern="#0"
		dfdl:lengthUnits="bytes"  />


</xs:schema>
