daffodil-test/src/test/resources/edu/illinois/ncsa/daffodil/section06/namespaces/customer_no_namespace.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">
      
  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/dfdl-1.0/">
      <dfdl:format separator="" initiator="" terminator="" leadingSkip='0' textTrimKind="none" initiatedContent="no"
        ignoreCase="no" representation="text" textNumberRep="standard" lengthKind="delimited" encoding="ASCII"
        alignment="implicit" alignmentUnits="bytes" trailingSkip="0"/>
    </xs:appinfo>
  </xs:annotation>
   
  <xs:include schemaLocation="edu/illinois/ncsa/daffodil/section06/namespaces/address_no_namespace.dfdl.xsd"/>
  
  <xs:element name="customer"> 
    <xs:complexType> 
      <xs:sequence> 
         <xs:element name="firstName" type="xs:string" dfdl:terminator="*"/> 
         <xs:element name="surname" type="xs:string" dfdl:terminator="*"/> 
         <xs:element ref="address"/> 
      </xs:sequence> 
    </xs:complexType> 
  </xs:element>
  
</xs:schema>
