daffodil-test/src/test/resources/edu/illinois/ncsa/daffodil/section06/namespaces/multi_B_03.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
   targetNamespace="http://b03.com" xmlns:b03="http://b03.com" xmlns:c03="http://c03.com">
 
  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/dfdl-1.0/">
      <dfdl:format separator="" ignoreCase="no" separatorPosition="infix" separatorSuppressionPolicy="anyEmpty" leadingSkip='0' initiator="" terminator="B" occursCountKind="parsed" initiatedContent="no" representation="text" textNumberRep="standard" encoding="ASCII" textTrimKind="none" />
    </xs:appinfo>
  </xs:annotation>
  
  <xs:import namespace="http://c03.com" schemaLocation="edu/illinois/ncsa/daffodil/section06/namespaces/multi_C_03.dfdl.xsd"/>

  <xs:element name="nest" type="c03:nestType" dfdl:textNumberJustification="center"/>
  
  <xs:element name="nest2" type="c03:nestType" dfdl:textNumberPadCharacter="," dfdl:textNumberJustification="center"/>
  
  <xs:element name="nest3" type="c03:nestType2"/>
  <xs:element name="nest4" type="c03:nestType3"/>
  <xs:element name="nest5" type="c03:nestType4"/>
  <xs:element name="nest5b" type="c03:nestType4b"/>
  
  <xs:element name="nestUnbounded" type="c03:nestType4"/>

</xs:schema>
