daffodil-test/src/test/resources/edu/illinois/ncsa/daffodil/section06/namespaces/multi_base_06.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
   targetNamespace="http://baseSchema.com" xmlns:base="http://baseSchema.com" xmlns:b06="http://b06.com">
      
  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/dfdl-1.0/">
      <dfdl:format separator="'" initiator="" terminator="" leadingSkip='0' textTrimKind="none" initiatedContent="no"
        separatorPosition="infix" ignoreCase="no" separatorSuppressionPolicy="anyEmpty" representation="text" textNumberRep="standard" lengthKind="delimited" encoding="US-ASCII"/>
    </xs:appinfo>
  </xs:annotation>
   
  <xs:include schemaLocation="edu/illinois/ncsa/daffodil/section06/namespaces/subfolder/multi_A_06_nons.dfdl.xsd"/>
  <xs:import namespace="http://b06.com" schemaLocation="edu/illinois/ncsa/daffodil/section06/namespaces/multi_B_06.dfdl.xsd"/>
  <xs:import namespace="http://b06.com" schemaLocation="edu/illinois/ncsa/daffodil/section06/namespaces/multi_B_06.dfdl.xsd"/>

  <xs:element name="baseSeq">
    <xs:complexType>
      <xs:sequence dfdl:separator="|">
        <xs:sequence dfdl:hiddenGroupRef="base:aGroup"/>
        <xs:element ref="b06:date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="baseSeq2">
    <xs:complexType>
      <xs:sequence dfdl:separator="|">
        <xs:sequence dfdl:hiddenGroupRef="base:aGroup"/>
        <xs:element ref="b06:date2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="baseSeq3">
    <xs:complexType>
      <xs:sequence dfdl:separator="|">
        <xs:sequence dfdl:hiddenGroupRef="base:aGroup"/>
        <xs:element ref="b06:date3"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="baseSeq4">
    <xs:complexType>
      <xs:sequence dfdl:separator="|">
        <xs:element ref="base:cElem" maxOccurs="1" dfdl:terminator="{" dfdl:occursCountKind="parsed"/>
        <xs:element ref="b06:cElem" maxOccurs="1" dfdl:terminator="}" dfdl:occursCountKind="parsed"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 
</xs:schema>
