daffodil-sapi/src/test/scala/org/apache/daffodil/example/output/genExificient.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?><ns3:schema xmlns:ns3="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ex="http://example.com"><ns3:include schemaLocation="org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/><ns3:annotation><ns3:appinfo source="http://www.ogf.org/dfdl/"><ns4:format xmlns:ns4="http://www.ogf.org/dfdl/dfdl-1.0/" ref="ex:GeneralFormat" initiator="" terminator="" separator="" separatorPosition="infix" alignment="implicit" alignmentUnits="bits" trailingSkip="0" leadingSkip="0" textTrimKind="none" encoding="utf-8" byteOrder="bigEndian" occursCountKind="parsed" ignoreCase="no" representation="text" lengthKind="delimited" textNumberRep="standard" separatorSuppressionPolicy="anyEmpty" initiatedContent="no"/></ns3:appinfo></ns3:annotation><ns3:element name="description" type="xs:string"/><ns3:element name="comment" type="xs:string"/><ns3:element name="quantity" type="xs:int"/><ns3:element name="price" type="xs:float"/><ns3:group name="namedGroup"><ns3:sequence ns4:separatorPosition="infix"><ns3:element ref="ex:description"/><ns3:element ref="ex:comment"/><ns3:element ref="ex:quantity"/><ns3:element ref="ex:price" ns4:initiator="$"/></ns3:sequence></ns3:group><ns3:element name="Item" ns4:lengthKind="implicit"><ns3:complexType><ns3:group ref="ex:namedGroup" ns4:separator=","/></ns3:complexType></ns3:element><ns3:element name="list" ns4:lengthKind="implicit"><ns3:complexType><ns3:sequence ns4:separator="||" ns4:separatorPosition="infix"><ns3:element ref="ex:Item" maxOccurs="unbounded" minOccurs="2"/></ns3:sequence></ns3:complexType></ns3:element></ns3:schema>