daffodil-sapi/src/test/scala/org/apache/daffodil/example/output/genInformedExificient.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ex="http://example.com"><xs:include schemaLocation="org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/><xs:annotation><xs:appinfo source="http://www.ogf.org/dfdl/"><dfdl:format alignment="implicit" alignmentUnits="bits" byteOrder="bigEndian" encoding="utf-8" ignoreCase="no" initiatedContent="no" initiator="" leadingSkip="0" lengthKind="delimited" occursCountKind="parsed" ref="ex:GeneralFormat" representation="text" separator="" separatorPosition="infix" separatorSuppressionPolicy="anyEmpty" terminator="" textNumberRep="standard" textTrimKind="none" trailingSkip="0"/></xs:appinfo></xs:annotation><xs:element name="description" type="xs:string"/><xs:element name="comment" type="xs:string"/><xs:element name="quantity" type="xs:int"/><xs:element name="price" type="xs:float"/><xs:group name="namedGroup"><xs:sequence dfdl:separatorPosition="infix"><xs:element ref="ex:description"/><xs:element ref="ex:comment"/><xs:element ref="ex:quantity"/><xs:element dfdl:initiator="$" ref="ex:price"/></xs:sequence></xs:group><xs:element dfdl:lengthKind="implicit" name="Item"><xs:complexType><xs:group ref="ex:namedGroup" dfdl:separator=","/></xs:complexType></xs:element><xs:element dfdl:lengthKind="implicit" name="list"><xs:complexType><xs:sequence dfdl:separator="||" dfdl:separatorPosition="infix"><xs:element maxOccurs="unbounded" minOccurs="2" ref="ex:Item"/></xs:sequence></xs:complexType></xs:element></xs:schema>