daffodil-test/src/test/resources/edu.illinois.ncsa.daffodil/section06/namespaces/address_no_namespace.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/dfdl-1.0/">
      <dfdl:format separator="" initiator="" terminator="" leadingSkip='0' textTrimKind="none" initiatedContent="no"
        ignoreCase="no" lengthKind="delimited" representation="text" textNumberRep="standard" encoding="usascii"/>
    </xs:appinfo>
  </xs:annotation>
   

  <xs:element name="address" type="addressType" dfdl:lengthKind="implicit"/>
  
  <xs:complexType name="addressType"> 
    <xs:sequence dfdl:sequenceKind="ordered" dfdl:separator="*" dfdl:separatorPosition="infix"> 
      <xs:element ref="houseNumber">
        <xs:annotation> 
          <xs:appinfo source="http://www.ogf.org/dfdl/" >
            <dfdl:element representation="text" 
                          textNumberRep="standard"  
                          lengthKind="delimited" 
                          encoding="ASCII" 
                          textNumberPattern="##0"/>           
          </xs:appinfo> 
        </xs:annotation> 
      </xs:element>
      <xs:element ref="street">
        <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/" >
            <dfdl:element representation="text" 
                          textNumberRep="standard"  
                          lengthKind="delimited" 
                          encoding="ASCII"/>           
        </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="city">
        <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/" >
            <dfdl:element representation="text" 
                          textNumberRep="standard"  
                          lengthKind="delimited" 
                          encoding="ASCII"/>           
        </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="state">
        <xs:annotation>
          <xs:appinfo source="http://www.ogf.org/dfdl/" >
              <dfdl:element representation="text" 
                            textNumberRep="standard"  
                            lengthKind="delimited" 
                            encoding="ASCII"/>           
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence> 
  </xs:complexType>

  <xs:element name="houseNumber" type="xs:int"/> 
  <xs:element name="street" type="xs:string"/> 
  <xs:element name="city" type="xs:string"/> 
  <xs:element name="state" type="xs:string"/>
  
</xs:schema>