daffodil-test-ibm1/src/test/resources/test-suite/tresys-contributed/AG.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://example.com"
  xmlns:fn="http://www.w3.org/2005/xpath-functions"
  xmlns:daf="urn:ogf:dfdl:2013:imp:opensource.ncsa.illinois.edu:2012:ext">

<include schemaLocation="xsd/built-in-formats.xsd"/>

<annotation>
    <appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="tns:daffodilTest1" lengthKind="delimited" separator=""
        leadingSkip='0' encoding="US-ASCII" ignoreCase='no' initiator=""
        terminator="" initiatedContent="no" textNumberRep="standard"
        separatorSuppressionPolicy="anyEmpty" separatorPosition="infix"
        occursCountKind="parsed" textTrimKind="none"
        alignment="implicit" alignmentUnits="bytes" trailingSkip="0"/>
    </appinfo>
  </annotation>
  
  <!-- Discriminated choices -->

  <group name="choiceGroup">
    <choice>
      <element name="zone1" type="xsd:string" dfdl:terminator="%NL;"
        dfdl:representation="text">
        <annotation>
          <appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:discriminator test="{ ../zoneNumber eq 1 }" />
          </appinfo>
        </annotation>
      </element>
      <element name="zone2" type="xsd:string" dfdl:terminator="%NL;"
        dfdl:representation="text">
        <annotation>
          <appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:discriminator test="{ ../zoneNumber eq 2 }" />
          </appinfo>
        </annotation>
      </element>
      <element name="zone3" type="xsd:string" dfdl:terminator="%NL;"
        dfdl:representation="text">
        <annotation>
          <appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:discriminator test="{ ../zoneNumber eq 3 }" />
          </appinfo>
        </annotation>
      </element>
    </choice>
  </group>

  <group name="zoneNumberGroup">
    <sequence>
      <element name="zoneNumber" type="xsd:int"
        dfdl:representation="text" dfdl:terminator="%NL;"
        dfdl:outputValueCalc="{
if (fn:exists(../zone1)) then 1
else if (fn:exists(../zone2)) then 2
else if (fn:exists(../zone3)) then 3
else daf:error()
}" />
    </sequence>
  </group>

  <element name="allZones">
    <complexType>
      <sequence>
        <sequence dfdl:hiddenGroupRef="tns:zoneNumberGroup" />
        <group ref="tns:choiceGroup" /> <!-- maxOccurs="1" -->
      </sequence>
    </complexType>
  </element>

</schema>
