daffodil-test-ibm1/src/test/resources/test-suite/tresys-contributed/AH.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://example.com">

<include schemaLocation="org/apache/daffodil/xsd/built-in-formats.xsd"/>

<annotation>
    <appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="tns:daffodilTest1" lengthKind="delimited" separator=""
        leadingSkip='0' encoding="US-ASCII" ignoreCase='no' initiator=""
        terminator="" initiatedContent="no" textNumberRep="standard"
        separatorSuppressionPolicy="anyEmpty" separatorPosition="infix"
        documentFinalTerminatorCanBeMissing='yes'
        occursCountKind='parsed' textTrimKind="none"
        alignment="implicit" alignmentUnits="bytes" trailingSkip="0"/>
    </appinfo>
  </annotation>

  <!-- Discriminated choices with after timing -->

  <group name="choiceGroup">
    <choice>
      <element name="lessThan3" type="xsd:int"
        dfdl:representation="text" dfdl:terminator="%NL;">
        <annotation>
          <appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:discriminator test="{ . lt 3 }" />
          </appinfo>
        </annotation>
      </element>
      <element name="lessThan10" type="xsd:int"
        dfdl:representation="text" dfdl:terminator="%NL;">
        <annotation>
          <appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:discriminator test="{ . lt 10 }" />
          </appinfo>
        </annotation>
      </element>
      <element name="greaterThan10" type="xsd:int"
        dfdl:representation="text" dfdl:terminator="%NL;">
        <annotation>
          <appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:discriminator test="{ . gt 10 }" />
          </appinfo>
        </annotation>
      </element>
    </choice>
  </group>

  <element name="allZones">
    <complexType>
      <group ref="tns:choiceGroup" />
    </complexType>
  </element>

</schema>
