daffodil-test-ibm1/src/test/resources/test-suite/tresys-contributed/AM.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://example.com">
  
  <include schemaLocation="xsd/built-in-formats.xsd"/>

  <annotation>
    <appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="tns:daffodilTest1" lengthKind="delimited" separator=""
        leadingSkip='0' encoding="US-ASCII" ignoreCase='no' initiator=""
        terminator="" initiatedContent="no" textNumberRep="standard"
        separatorSuppressionPolicy="anyEmpty" separatorPosition="infix"
        byteOrder="bigEndian" binaryNumberRep="binary"
        alignment="implicit" alignmentUnits="bytes" trailingSkip="0"
        representation="text" />
    </appinfo>
  </annotation>
  <!-- MIME type detect -->

  <group name="arrayGroup">
    <sequence>
    <!-- 
    TBD: WHAT SHOULD THE occursCountKind BE??
     -->
      <element name="array" type="xsd:unsignedByte" maxOccurs="unbounded" dfdl:occursCountKind='implicit'
        dfdl:representation="binary" dfdl:lengthKind="implicit" /> <!-- unsignedByte because it is compared with numbers > 127 -->
    </sequence>
  </group>

  <element name="mimeType">
    <complexType>
      <sequence>
        <sequence dfdl:hiddenGroupRef="tns:arrayGroup" />
        <element name="mime">
          <complexType>
            <choice>
              <!-- GIF -->
              <element name="type" type="xsd:string"
                dfdl:inputValueCalc="{ 'image/gif' }">
                <annotation>
                  <appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{
                      ../../array[2]=71 and
                      ../../array[1]=73 and
                      ../../array[4]=70 and
                      ../../array[3]=56 and
                      ../../array[6]=57 and
                      ../../array[5]=97
                      }</dfdl:discriminator>
                  </appinfo>
                </annotation>
              </element>
              <!-- JPEG -->
              <element name="type" type="xsd:string"
                dfdl:inputValueCalc="{ 'image/jpeg' }">
                <annotation>
                  <appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{
                      ../../array[8] = 74 and
                      ../../array[7] = 70 and
                      ../../array[10] = 73 and
                      ../../array[9] = 70
                      }</dfdl:discriminator>
                  </appinfo>
                </annotation>
              </element>
              <!-- STP -->
              <element name="type" type="xsd:string"
                dfdl:inputValueCalc="{ 'STP' }">
                <annotation>
                  <appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{
                      ../../array[1] = 73 and
                      ../../array[2] = 83 and
                      ../../array[3] = 79 and
                      ../../array[4] = 45 and
                      ../../array[5] = 49 and
                      ../../array[6] = 48 and
                      ../../array[7] = 51 and
                      ../../array[8] = 48 and
                      ../../array[9] = 51 and
                      ../../array[10] = 45 and
                      ../../array[11] = 50 and
                      ../../array[12] = 49 and
                      ../../array[13] = 59
                      }</dfdl:discriminator>
                  </appinfo>
                </annotation>
              </element>
              <!-- PNG -->
              <element name="type" type="xsd:string"
                dfdl:inputValueCalc="{ 'image/png' }">
                <annotation>
                  <appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{
                      ../../array[1] = 137 and
                      ../../array[2] = 80 and
                      ../../array[3] = 78 and
                      ../../array[4] = 71 and
                      ../../array[5] = 13 and
                      ../../array[6] = 10 and
                      ../../array[7] = 26 and
                      ../../array[8] = 10
                      }</dfdl:discriminator>
                  </appinfo>
                </annotation>
              </element>
              <!-- .class -->
              <element name="type" type="xsd:string"
                dfdl:inputValueCalc="{ 'application/java-byte-code' }">
                <annotation>
                  <appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{
                      ../../array[1] = 202 and
                      ../../array[2] = 254 and
                      ../../array[3] = 186 and
                      ../../array[4] = 190
                      }</dfdl:discriminator>
                  </appinfo>
                </annotation>
              </element>
              <!-- midi -->
              <element name="type" type="xsd:string"
                dfdl:inputValueCalc="{ 'audio/midi' }">
                <annotation>
                  <appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{
                      ../../array[1] = 77 and
                      ../../array[2] = 84 and
                      ../../array[3] = 104 and
                      ../../array[4] = 100
                      }</dfdl:discriminator>
                  </appinfo>
                </annotation>
              </element>
              <!-- shell script -->
              <element name="type" type="xsd:string"
                dfdl:inputValueCalc="{ 'application/x-sh' }">
                <annotation>
                  <appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{
                      ../../array[1] = 35 and
                      ../../array[2] = 33
                      }</dfdl:discriminator>
                  </appinfo>
                </annotation>
              </element>
              <!-- postscript -->
              <element name="type" type="xsd:string"
                dfdl:inputValueCalc="{ 'application/postscript' }">
                <annotation>
                  <appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{
                      ../../array[1] = 37 and
                      ../../array[2] = 33
                      }</dfdl:discriminator>
                  </appinfo>
                </annotation>
              </element>
              <!-- PDF -->
              <element name="type" type="xsd:string"
                dfdl:inputValueCalc="{ 'application/pdf' }">
                <annotation>
                  <appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{
                      ../../array[1] = 37 and
                      ../../array[2] = 80 and
                      ../../array[3] = 68 and
                      ../../array[4] = 70
                      }</dfdl:discriminator>
                  </appinfo>
                </annotation>
              </element>
              <!-- ZIP -->
              <element name="type" type="xsd:string"
                dfdl:inputValueCalc="{ 'application/zip' }">
                <annotation>
                  <appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{
                      ../../array[1] = 80 and
                      ../../array[2] = 75
                      }</dfdl:discriminator>
                  </appinfo>
                </annotation>
              </element>
              <!-- MPEG -->
              <element name="type" type="xsd:string"
                dfdl:inputValueCalc="{ 'video/mpg' }">
                <annotation>
                  <appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{
                      ../../array[1] = 0 and
                      ../../array[2] = 0 and
                      ../../array[3] = 0 and
                      ../../array[4] = 24 and
                      ../../array[5] = 102 and
                      ../../array[6] = 116 and
                      ../../array[7] = 121 and
                      ../../array[8] = 112 and
                      ../../array[9] = 51 and
                      ../../array[10] = 103 and
                      ../../array[11] = 112 and
                      ../../array[12] = 53
                      }</dfdl:discriminator>
                  </appinfo>
                </annotation>
              </element>
              <!-- GZIP -->
              <element name="type" type="xsd:string"
                dfdl:inputValueCalc="{ 'application/x-gzip' }">
                <annotation>
                  <appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:discriminator>{
                      ../../array[1] = 31 and
                      ../../array[2] = 140 and
                      ../../array[3] = 8
                      }</dfdl:discriminator>
                  </appinfo>
                </annotation>
              </element>
            </choice>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>
