daffodil-test-ibm1/src/test/resources/test-suite/tresys-contributed/AW.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://example.com">

<include schemaLocation="org/apache/daffodil/xsd/built-in-formats.xsd"/>

  <annotation>
    <appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="tns:daffodilTest1" lengthKind="delimited" separator=""
        leadingSkip='0' encoding="US-ASCII" ignoreCase='no' initiator=""
        terminator="" initiatedContent="no" textNumberRep="standard"
        separatorSuppressionPolicy="anyEmpty" separatorPosition="infix"
        documentFinalTerminatorCanBeMissing='yes' occursStopValue="-1"
        byteOrder="bigEndian" binaryNumberRep='binary'
        representation="text" emptyValueDelimiterPolicy="none"
        occursCountKind='parsed' lengthUnits="bytes"/>

      <dfdl:defineEscapeScheme name="pound">
        <dfdl:escapeScheme escapeCharacter='#' escapeEscapeCharacter="\"
          escapeKind="escapeCharacter" extraEscapedCharacters="" generateEscapeBlock="whenNeeded" />
      </dfdl:defineEscapeScheme>
      <dfdl:defineEscapeScheme name='cStyleComment'>
        <dfdl:escapeScheme escapeBlockStart='/*' escapeEscapeCharacter="\"
          escapeBlockEnd='*/' escapeKind="escapeBlock" extraEscapedCharacters="" generateEscapeBlock="whenNeeded" />
      </dfdl:defineEscapeScheme>
    </appinfo>
  </annotation>

  <!-- Schema Escaping: escape character and escape block, variable length -->

  <element name="list">
    <complexType>
      <sequence>
        <sequence dfdl:separator="," dfdl:terminator="%NL;">
          <element name="character" type="xsd:string" maxOccurs="unbounded"
            dfdl:representation="text" dfdl:escapeSchemeRef="tns:pound" />
        </sequence>
        <sequence dfdl:separator="," dfdl:terminator="%NL;">
          <element name="block" type="xsd:string" maxOccurs="unbounded"
            dfdl:representation="text" dfdl:escapeSchemeRef="tns:cStyleComment" />
        </sequence>
      </sequence>
    </complexType>
  </element>

</schema>
