daffodil-test-ibm1/src/test/resources/test-suite/tresys-contributed/AY.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://example.com">

<include schemaLocation="xsd/built-in-formats.xsd"/>

<annotation>
    <appinfo source="http://www.ogf.org/dfdl/">

      <dfdl:format ref="tns:daffodilTest1" lengthKind="delimited" separator=""
        leadingSkip='0' encoding="US-ASCII" ignoreCase='no' initiator=""
        terminator="" initiatedContent="no" textNumberRep="standard"
        separatorSuppressionPolicy="anyEmpty" separatorPosition="infix"
        documentFinalTerminatorCanBeMissing='yes' emptyValueDelimiterPolicy="none"
        byteOrder="bigEndian" binaryNumberRep='binary'
        representation="text" occursCountKind='parsed' occursStopValue="-1"
        alignment="1"  alignmentUnits="bytes"/>

      <!--dfdl:format ref="tns:daffodilTest1" lengthKind="delimited" separator=""
        leadingSkip='0' encoding="US-ASCII" ignoreCase='no' initiator=""
        terminator="" initiatedContent="no" textNumberRep="standard"
        separatorSuppressionPolicy="anyEmpty" separatorPosition="infix"
        documentFinalTerminatorCanBeMissing='yes' occursStopValue="-1"
        byteOrder="bigEndian" binaryNumberRep='binary'
        representation="text" emptyValueDelimiterPolicy="none"
        occursCountKind='parsed' alignment="1" alignmentUnits="bytes"/-->
        
      <dfdl:defineEscapeScheme name="pound">
        <dfdl:escapeScheme escapeCharacter='#' escapeEscapeCharacter=""
          escapeKind="escapeCharacter" />
      </dfdl:defineEscapeScheme>
      <dfdl:defineEscapeScheme name='StartEnd'>
        <dfdl:escapeScheme escapeBlockStart='START' escapeBlockEnd='END'
          escapeEscapeCharacter="" escapeKind="escapeBlock" />
      </dfdl:defineEscapeScheme>
    </appinfo>
  </annotation>

  <!-- Schema Escaping: escape character and escape block, variable length -->

  <element name="list">
    <complexType>
      <sequence dfdl:separator="SEPARATOR">
        <element name="character" type="xsd:string" maxOccurs="1" minOccurs="1"
          dfdl:representation="text" dfdl:initiator="INITIATOR" dfdl:escapeSchemeRef="tns:pound"
          dfdl:terminator="TERMINATOR" />
        <element name="block" type="xsd:string" maxOccurs="unbounded" minOccurs="1"
          dfdl:representation="text" dfdl:initiator="INITIATOR" dfdl:escapeSchemeRef="tns:StartEnd" 
          dfdl:terminator="TERMINATOR" />
      </sequence>
    </complexType>
  </element>

</schema>
