daffodil-test-ibm1/src/test/resources/test-suite/tresys-contributed/BA.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://example.com">

<include schemaLocation="xsd/built-in-formats.xsd"/>

<annotation>
    <appinfo source="http://www.ogf.org/dfdl/dfdl-1.0/">
      <dfdl:format ref="tns:daffodilTest1" lengthKind="delimited" separator=""
        leadingSkip='0' encoding="US-ASCII" ignoreCase='no' initiator=""
        terminator="" initiatedContent="no" textNumberRep="standard"
        separatorSuppressionPolicy="anyEmpty" separatorPosition="infix"
        documentFinalTerminatorCanBeMissing='yes'
        byteOrder="bigEndian" binaryNumberRep='binary'
        representation="text" occursStopValue="-1"
        occursCountKind='parsed' emptyValueDelimiterPolicy="none"
        alignment="1" alignmentUnits="bytes"/>

      <dfdl:defineEscapeScheme name="poundBang">
        <dfdl:escapeScheme escapeCharacter='#'
          escapeKind="escapeCharacter" escapeEscapeCharacter="!" />
      </dfdl:defineEscapeScheme>
      <dfdl:defineEscapeScheme name="poundPound">
        <dfdl:escapeScheme escapeCharacter='#'
          escapeKind="escapeCharacter" escapeEscapeCharacter="#" />
      </dfdl:defineEscapeScheme>
      <dfdl:defineEscapeScheme name='cStyleComment'>
        <dfdl:escapeScheme escapeBlockStart='/*'
          escapeBlockEnd='*/' escapeKind="escapeBlock" />
      </dfdl:defineEscapeScheme>
      <dfdl:defineEscapeScheme name='StartEndBang'>
        <dfdl:escapeScheme escapeBlockStart='START'
          escapeBlockEnd='END' escapeKind="escapeBlock"
          escapeEscapeCharacter="!" />
      </dfdl:defineEscapeScheme>
      <dfdl:defineEscapeScheme name='StartEndS'>
        <dfdl:escapeScheme escapeBlockStart='START'
          escapeBlockEnd='END' escapeKind="escapeBlock"
          escapeEscapeCharacter="S" />
      </dfdl:defineEscapeScheme>
    </appinfo>
  </annotation>

  <!-- Schema Escaping: escape escape character, variable length -->

  <element name="list">
    <complexType>
      <sequence>
        <sequence dfdl:separator="," dfdl:initiator=":"
          dfdl:terminator="%NL;">
          <element name="character1" type="xsd:string"
            maxOccurs="unbounded" dfdl:representation="text"
            dfdl:escapeSchemeRef="tns:poundBang" />
        </sequence>
        <sequence dfdl:separator="," dfdl:initiator=":"
          dfdl:terminator="%NL;">
          <element name="character2" type="xsd:string"
            maxOccurs="unbounded" dfdl:representation="text"
            dfdl:escapeSchemeRef="tns:poundPound" />
        </sequence>
        <sequence dfdl:separator="," dfdl:initiator=":"
          dfdl:terminator="%NL;">
          <element name="block1" type="xsd:string" maxOccurs="unbounded"
            dfdl:representation="text" dfdl:escapeSchemeRef="tns:StartEndBang" />
        </sequence>
        <sequence dfdl:separator="," dfdl:initiator=":"
          dfdl:terminator="%NL;">
          <element name="block2" type="xsd:string" maxOccurs="unbounded"
            dfdl:representation="text" dfdl:escapeSchemeRef="tns:StartEndS" />
        </sequence>
      </sequence>
    </complexType>
  </element>

</schema>
