daffodil-test-ibm1/src/test/resources/test-suite/tresys-contributed/BC.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://example.com">

<include schemaLocation="xsd/built-in-formats.xsd"/>

<annotation>
    <appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="tns:daffodilTest1" lengthKind="delimited" separator=""
        leadingSkip='0' encoding="US-ASCII" ignoreCase='no' initiator=""
        terminator="" initiatedContent="no" textNumberRep="standard"
        separatorSuppressionPolicy="anyEmpty" separatorPosition="infix"
        documentFinalTerminatorCanBeMissing='yes'
        byteOrder="bigEndian" binaryNumberRep='binary'
        representation="text"
        occursCountKind='parsed'/>
    </appinfo>
  </annotation>

  <!-- Text boolean -->
  <element name="list">
    <complexType>
      <sequence>
        <sequence dfdl:separator="," dfdl:terminator="%NL;">
          <element name="x" type="xsd:boolean" maxOccurs="unbounded"
            dfdl:textBooleanTrueRep="yes Y 1" dfdl:textBooleanFalseRep="no N 0" />
        </sequence>
        <sequence dfdl:separator="," dfdl:terminator="%NL;">
          <element name="y" type="xsd:boolean" maxOccurs="unbounded"
            dfdl:textBooleanTrueRep="{ 1*10 }" dfdl:textBooleanFalseRep="{'a b c'}" />
        </sequence>
      </sequence>
    </complexType>
  </element>

</schema>
