daffodil-test-ibm1/src/test/resources/test-suite/tresys-contributed/BG.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://example.com">

<annotation>
    <appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format lengthKind="delimited" separator=""
        alignment="1" alignmentUnits="bytes" textTrimKind="none"
        trailingSkip="0" leadingSkip='0' 
        encoding="US-ASCII" ignoreCase='no' initiator=""
        terminator="" initiatedContent="no" textNumberRep="standard"
        separatorSuppressionPolicy="anyEmpty" separatorPosition="infix"
        documentFinalTerminatorCanBeMissing='yes'
        byteOrder="bigEndian" binaryNumberRep='binary'
        representation="text"
        textStandardZeroRep="0"
        textNumberRounding="explicit"
        textNumberRoundingMode="roundUp"
        textNumberRoundingIncrement="1"
        textStandardInfinityRep="INFINITO"
        textStandardNaNRep="NaN"
        textStandardExponentRep="^"
        textNumberCheckPolicy="strict"
        occursCountKind='parsed'/>
    </appinfo>
  </annotation>

  <!-- Text number properties -->

  <element name="list" type="tns:example1" />

  <complexType name="example1">
    <sequence>
      <sequence dfdl:separator="***" dfdl:terminator="%NL;">
        <element name="x" type="xsd:decimal" maxOccurs="unbounded"
          dfdl:lengthKind="delimited" dfdl:textNumberRep="standard"
          dfdl:textNumberJustification="right"
          dfdl:textNumberPadCharacter="%WSP;" dfdl:textStandardBase="10"
          dfdl:textNumberPattern="###,###.##;-###,###.##"
          dfdl:textStandardDecimalSeparator="!"
          dfdl:textStandardGroupingSeparator="#"
          dfdl:textStandardInfinityRep="INFINITO"
          dfdl:textStandardNaNRep="NNN" dfdl:textStandardZeroRep="ZERO NA NIL"
          dfdl:ignoreCase="yes" />
      </sequence>
      <sequence dfdl:separator="***" dfdl:terminator="%NL;">
        <element name="y" type="xsd:decimal" maxOccurs="unbounded"
          dfdl:lengthKind="delimited" dfdl:textNumberRep="standard"
          dfdl:textNumberJustification="right"
          dfdl:textNumberPattern="####"
          dfdl:textNumberPadCharacter="%WSP;" dfdl:textStandardBase="16" />
      </sequence>
      <sequence dfdl:separator="***" dfdl:terminator="%NL;">
        <element name="z" type="xsd:float" maxOccurs="unbounded"
          dfdl:lengthKind="delimited" dfdl:textNumberJustification="right"
          dfdl:textNumberPattern="####"
          dfdl:textNumberPadCharacter="%WSP;" />
      </sequence>
    </sequence>
  </complexType>
</schema>
