daffodil-core/src/test/resources/test/example_no_targetnamespace.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- copied from multi_C_02.dfdl.xsd since daffodil-test is not a test dependency,
      but daffodil-core is a dependency for daffodil-test; as this is just 1 file,
      we decided to copy it instead of trying to go the dependency route-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">

  <xs:include schemaLocation="/org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/>

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="GeneralFormat"
        separator=""
        initiator=""
        separatorPosition="infix"
        ignoreCase="no"
        separatorSuppressionPolicy="anyEmpty"
        terminator=""
        occursCountKind="parsed"
        initiatedContent="no"
        representation="text"
        textNumberRep="standard"
        encoding="ASCII"
        textTrimKind="none"
        leadingSkip='0'/>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="x">
    <xs:complexType>
      <xs:sequence dfdl:separator=".">
        <xs:element name="y" type="xs:string" dfdl:lengthKind="pattern" dfdl:lengthPattern="[A-Za-z^]{1,5}"
          nillable="true" dfdl:nilKind="literalValue" dfdl:nilValue="^" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inty" type="xs:int" dfdl:lengthKind="delimited"/>

</xs:schema>
