daffodil-core/src/test/resources/test/cli/choice.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns="http://www.ogf.org/dfdl/dfdl-1.0/XMLSchemaSubset"
       xmlns:xs="http://www.w3.org/2001/XMLSchema"
       xmlns:xsd="http://www.ogf.org/dfdl/dfdl-1.0/XMLSchemaSubset"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
       xmlns:tns="http://www.example.org/example1/"
       targetNamespace="http://www.example.org/example1/">

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/dfdl-1.0/">
      <dfdl:format alignment="1" alignmentUnits="bytes" binaryFloatRep="ieee" binaryNumberRep="binary" byteOrder="bigEndian"
                   calendarPatternKind="implicit" documentFinalTerminatorCanBeMissing="no" emptyValueDelimiterPolicy="both" encoding="US-ASCII"
                   escapeSchemeRef="" fillByte="f" floating="no" ignoreCase="no" initiatedContent="no" initiator="" leadingSkip="0" lengthKind="delimited"
                   lengthUnits="bytes" nilValueDelimiterPolicy="both" occursCountKind="parsed" representation="text" separator="" separatorPolicy="suppressed"
                   separatorPosition="infix" sequenceKind="ordered" terminator="" textBidi="no" textNumberCheckPolicy="strict" textNumberRep="standard"
                   textStandardBase="10" textStringJustification="left" textTrimKind="none" trailingSkip="0" truncateSpecifiedLengthString="no" utf16Width="fixed" />
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="ch1">
    <xs:complexType>
      <xs:choice>
        <xs:element name="int" type="int" minOccurs="4" maxOccurs="10" dfdl:occursCountKind="implicit" dfdl:terminator=";"/>
        <xs:element name="float" type="float" minOccurs="4" maxOccurs="10" dfdl:occursCountKind="implicit" dfdl:terminator=";"/>
        <xs:element name="str" type="string"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

</xs:schema>

