daffodil-core/src/test/resources/test-suite/tresys-contributed/AX.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://example.com">

<annotation>
    <appinfo source="http://www.ogf.org/dfdl/dfdl-1.0/">
      <dfdl:format lengthKind="delimited" separator=""
        leadingSkip='0' encoding="US-ASCII" ignoreCase='no' initiator=""
        terminator="" initiatedContent="no" textNumberRep="standard"
        separatorPolicy="suppressed" separatorPosition="infix"
        documentFinalTerminatorCanBeMissing='yes'
        byteOrder="bigEndian" binaryNumberRep='binary'
        representation="text"
        occursCountKind='parsed' lengthUnits="bytes"/>
        
      <dfdl:format separator="" initiator="" terminator=""
        emptyValueDelimiterPolicy="none" textNumberRep="standard"
        representation="text" occursStopValue="-1" occursCountKind="expression"
        initiatedContent="no" />
      <dfdl:defineEscapeScheme name="pound">
        <dfdl:escapeScheme escapeCharacter='#'
          escapeKind="escapeCharacter" />
      </dfdl:defineEscapeScheme>
      <dfdl:defineEscapeScheme name='cStyleComment'>
        <dfdl:escapeScheme escapeBlockStart='/*'
          escapeBlockEnd='*/' escapeKind="escapeBlock" />
      </dfdl:defineEscapeScheme>
    </appinfo>
  </annotation>

  <!-- Schema Escaping: escape character and escape block, fixed length -->

  <element name="list">
    <complexType>
      <sequence>
        <sequence dfdl:separator="," dfdl:terminator="%NL;">
          <element name="character" type="xsd:string" maxOccurs="unbounded"
            dfdl:representation="text" dfdl:lengthKind="explicit"
            dfdl:length="5" dfdl:encoding="US-ASCII"
            dfdl:escapeSchemeRef="tns:pound" />
        </sequence>
        <sequence dfdl:separator="," dfdl:terminator="%NL;">
          <element name="block" type="xsd:string" maxOccurs="unbounded"
            dfdl:representation="text" dfdl:encoding="US-ASCII"
            dfdl:lengthKind="explicit" dfdl:length="15"
            dfdl:escapeSchemeRef="tns:cStyleComment" />
        </sequence>
      </sequence>
    </complexType>
  </element>

</schema>
