daffodil-core/src/test/resources/test-suite/tresys-contributed/BA.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://example.com" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://example.com">

<annotation>
    <appinfo source="http://www.ogf.org/dfdl/dfdl-1.0/">
      <dfdl:format lengthKind="delimited" separator=""
        leadingSkip='0' encoding="US-ASCII" ignoreCase='no' initiator=""
        terminator="" initiatedContent="no" textNumberRep="standard"
        separatorPolicy="suppressed" separatorPosition="infix"
        documentFinalTerminatorCanBeMissing='yes'
        byteOrder="bigEndian" binaryNumberRep='binary'
        representation="text"
        occursCountKind='parsed'/>

      <dfdl:format separator="" initiator="" terminator="" separatorPolicy='suppressed' separatorPosition='infix'
        emptyValueDelimiterPolicy="none" textNumberRep="standard" leadingSkip='0' encoding="US-ASCII"
        representation="text" occursStopValue="-1" occursCountKind="parsed" lengthKind="delimited"
        initiatedContent="no" ignoreCase='no'/>
      <dfdl:defineEscapeScheme name="poundBang">
        <dfdl:escapeScheme escapeCharacter='#'
          escapeKind="escapeCharacter" escapeEscapeCharacter="!" />
      </dfdl:defineEscapeScheme>
      <dfdl:defineEscapeScheme name="poundPound">
        <dfdl:escapeScheme escapeCharacter='#'
          escapeKind="escapeCharacter" escapeEscapeCharacter="#" />
      </dfdl:defineEscapeScheme>
      <dfdl:defineEscapeScheme name='cStyleComment'>
        <dfdl:escapeScheme escapeBlockStart='/*'
          escapeBlockEnd='*/' escapeKind="escapeBlock" />
      </dfdl:defineEscapeScheme>
      <dfdl:defineEscapeScheme name='StartEndBang'>
        <dfdl:escapeScheme escapeBlockStart='START'
          escapeBlockEnd='END' escapeKind="escapeBlock"
          escapeEscapeCharacter="!" />
      </dfdl:defineEscapeScheme>
      <dfdl:defineEscapeScheme name='StartEndS'>
        <dfdl:escapeScheme escapeBlockStart='START'
          escapeBlockEnd='END' escapeKind="escapeBlock"
          escapeEscapeCharacter="S" />
      </dfdl:defineEscapeScheme>
    </appinfo>
  </annotation>

  <!-- Schema Escaping: escape escape character, variable length -->

  <element name="list">
    <complexType>
      <sequence>
        <sequence dfdl:separator="," dfdl:initiator=":"
          dfdl:terminator="%NL;">
          <element name="character1" type="xsd:string"
            maxOccurs="unbounded" dfdl:representation="text"
            dfdl:escapeSchemeRef="tns:poundBang" />
        </sequence>
        <sequence dfdl:separator="," dfdl:initiator=":"
          dfdl:terminator="%NL;">
          <element name="character2" type="xsd:string"
            maxOccurs="unbounded" dfdl:representation="text"
            dfdl:escapeSchemeRef="tns:poundPound" />
        </sequence>
        <sequence dfdl:separator="," dfdl:initiator=":"
          dfdl:terminator="%NL;">
          <element name="block1" type="xsd:string" maxOccurs="unbounded"
            dfdl:representation="text" dfdl:escapeSchemeRef="tns:StartEndBang" />
        </sequence>
        <sequence dfdl:separator="," dfdl:initiator=":"
          dfdl:terminator="%NL;">
          <element name="block2" type="xsd:string" maxOccurs="unbounded"
            dfdl:representation="text" dfdl:escapeSchemeRef="tns:StartEndS" />
        </sequence>
      </sequence>
    </complexType>
  </element>

</schema>
