daffodil-core/src/test/resources/test-suite/tresys-contributed/dpaextdeltxt101.dfdl.xsd

<?xml version="1.0" encoding="utf-8"?>
	<!--
		calendar - delimited - with terminators
	-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
	xmlns:cal="http://www.saf.cal/" elementFormDefault="unqualified"
	attributeFormDefault="unqualified" >
	<!--
	-->
	<xs:annotation>
		<xs:appinfo source="http://www.ogf.org/dfdl/">
			<!--
				This is the new schema level default format block. It doesn't get a
				name
			-->
			<dfdl:format initiator="" terminator="" leadingSkip="0" trailingSkip="0"  textBidi="no" floating="no"   encoding="utf-8" byteOrder="bigEndian" alignment="1" alignmentUnits="bytes" fillByte="f" 
                occursCountKind="implicit" 
				truncateSpecifiedLengthString="no" ignoreCase="no"
				representation="text"  textPadKind="none"
				textTrimKind="none"  lengthKind="delimited" escapeSchemeRef=""
				textOutputMinLength="30" lengthUnits="bytes"
				textStringJustification="left"  textStringPadCharacter="%SP;"
				textCalendarJustification="left"  textCalendarPadCharacter="%SP;"
				nilValueDelimiterPolicy="both"  emptyValueDelimiterPolicy="none" 
				documentFinalTerminatorCanBeMissing="no" initiatedContent="no"
				sequenceKind="ordered" 
				separatorPolicy="required" 
				calendarPatternKind="implicit" calendarPattern="yyyymmddhhmmss" calendarCheckPolicy="lax" 
				calendarTimeZone="UTC" calendarObserveDST="yes" 
				calendarFirstDayOfWeek="Wednesday" calendarDaysInFirstWeek="7" calendarCenturyStart="50" 
				calendarLanguage="it-IT"
				/>

		</xs:appinfo>
	</xs:annotation>
	
	<!--  separator, terminator of parent -->
	<xs:element name="myStringSeq1">
		<xs:complexType>
			<xs:sequence dfdl:initiatedContent="no" dfdl:separatorPosition="infix"
				dfdl:sequenceKind="ordered" dfdl:separator="~" dfdl:terminator="@">
				<xs:element name="Test1" type="xs:string">
					
				</xs:element>
				
				<xs:element name="Test2" type="xs:string"  >

				</xs:element>
								
			</xs:sequence>
		</xs:complexType>

	</xs:element>
	
	<!--  parent with specified length -->
	<xs:element name="myStringSeq2_controversial"  dfdl:lengthKind="explicit" dfdl:length="5">
		<xs:complexType>
			<xs:sequence dfdl:initiatedContent="no" dfdl:separatorPosition="infix"
				dfdl:sequenceKind="ordered" dfdl:separator="" >
				<xs:element name="Test1" type="xs:string">
				</xs:element>
				
				
			</xs:sequence>
		</xs:complexType>

	</xs:element>
	
	<!--  parent with specified length -->
	<xs:element name="myStringSeq2" dfdl:lengthKind="delimited" dfdl:terminator=";"> <!-- dfdl:lengthKind="explicit" dfdl:length="5"> -->
		<xs:complexType>
			<xs:sequence dfdl:initiatedContent="no" dfdl:separatorPosition="infix"
				dfdl:sequenceKind="ordered" dfdl:separator="" >
				<xs:element name="Test1" type="xs:string">
				</xs:element>
				
				
			</xs:sequence>
		</xs:complexType>

	</xs:element>
	
	<!--  parent with specified length -->
	<xs:element name="myStringSeq3"> <!-- dfdl:lengthKind="explicit" dfdl:length="5"> -->
		<xs:complexType>
			<xs:sequence  dfdl:separatorPosition="infix" dfdl:separator="|" dfdl:terminator=":: ; ]" >
				<xs:element name="element1" type="xs:string" dfdl:lengthKind="delimited"/>
				<xs:element name="element2" type="xs:string" dfdl:lengthKind="delimited"/>
				<xs:element name="element3" type="xs:string" dfdl:lengthKind="delimited"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="myStringSeq4"> <!-- dfdl:lengthKind="explicit" dfdl:length="5"> -->
		<xs:complexType>
			<xs:sequence  dfdl:separator=":: ; ]" dfdl:terminator=":: ; ]" dfdl:separatorPosition="infix">
				<xs:element name="seq1" dfdl:lengthKind="delimited" >
				  <xs:complexType>
				  	<xs:sequence dfdl:separatorPosition="infix" dfdl:separator="|" >
				  		<xs:element name="element1" type="xs:string" dfdl:lengthKind="delimited"/>
						<xs:element name="element2" type="xs:string" dfdl:lengthKind="delimited"/>
						<xs:element name="element3" type="xs:string" dfdl:lengthKind="delimited"/>
				  	</xs:sequence>
				  </xs:complexType>
				</xs:element>
				<xs:element name="seq2" dfdl:lengthKind="delimited" >
				  <xs:complexType>
				  	<xs:sequence dfdl:separatorPosition="infix" dfdl:separator="|" >
				  		<xs:element name="element1" type="xs:string" dfdl:lengthKind="delimited"/>
						<xs:element name="element2" type="xs:string" dfdl:lengthKind="delimited"/>
						<xs:element name="element3" type="xs:string" dfdl:lengthKind="delimited"/>
				  	</xs:sequence>
				  </xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    
</xs:schema>
