daffodil-cli/src/test/resources/org/apache/daffodil/CLI/cli_schema.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" targetNamespace="http://example.com"
  xmlns:ex="http://example.com"> 

  <xs:include schemaLocation="org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/>

  <xs:annotation> 
    <xs:appinfo source="http://www.ogf.org/dfdl/" >
      <dfdl:format ref="ex:GeneralFormat" initiator="" terminator="" separator=""
        separatorSuppressionPolicy="anyEmpty" separatorPosition="infix"
        alignment="implicit" alignmentUnits="bits" trailingSkip="0"
        lengthKind="delimited" documentFinalTerminatorCanBeMissing="yes" encoding="ASCII"
        leadingSkip="0" textTrimKind="none" representation="text" occursCountKind="parsed"
        textNumberRep="standard" ignoreCase="no" initiatedContent="no" />
    </xs:appinfo>
  </xs:annotation>
    
    <xs:simpleType name="simpleAssert">
      <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/">
          <dfdl:discriminator testKind="pattern"
            testPattern="\d;" message="discriminator failed for pattern '\d;'" />
        </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:string" />
    </xs:simpleType>

    <xs:group name="namedGroup">
      <xs:sequence>
        <xs:element name="e1" type="xs:string"
          dfdl:lengthKind="delimited" dfdl:terminator="," />
        <xs:element name="e2" type="xs:int" dfdl:lengthKind="delimited" />
      </xs:sequence>
    </xs:group>
    
    <xs:group name="namedGroup2">
      <xs:sequence>
        <xs:element name="e3" type="xs:string"
          dfdl:lengthKind="delimited" dfdl:terminator="|" />
        <xs:element name="e4" type="xs:int" dfdl:lengthKind="delimited" />
      </xs:sequence>
    </xs:group>

    <xs:element name="Item" dfdl:lengthKind="implicit">
      <xs:complexType>
        <xs:group ref="ex:namedGroup">
          <xs:annotation>
            <xs:appinfo source="http://www.ogf.org/dfdl/">
              <dfdl:discriminator testKind="pattern"
                testPattern="\p{L}{3},\d{3}"
                message="discriminator failed for pattern '\p{L}{3},\d{3}'" />
            </xs:appinfo>
          </xs:annotation>
        </xs:group>
      </xs:complexType>
    </xs:element>
    
    <xs:element name="Item2" dfdl:lengthKind="implicit">
      <xs:complexType>
        <xs:choice>
          <xs:group ref="ex:namedGroup">
            <xs:annotation>
              <xs:appinfo source="http://www.ogf.org/dfdl/">
                <dfdl:discriminator testKind="pattern"
                  testPattern="\p{L}{3},\d{3}"
                  message="discriminator failed for pattern '\p{L}{3},\d{3}'" />
              </xs:appinfo>
            </xs:annotation>
          </xs:group>
          <xs:group ref="ex:namedGroup2">
            <xs:annotation>
              <xs:appinfo source="http://www.ogf.org/dfdl/">
                <dfdl:discriminator testKind="pattern"
                  testPattern="\p{L}{3}|\d{3}"
                  message="discriminator failed for pattern '\p{L}{3}|\d{3}'" />
              </xs:appinfo>
            </xs:annotation>
          </xs:group>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  
    <xs:group name="hgNested">
      <xs:sequence>
        <xs:element name="sneaky" type="xs:int" dfdl:outputValueCalc="{ 5 }"/>
      </xs:sequence>
    </xs:group>
    <xs:group name="hg">
      <xs:sequence dfdl:separator="/">
        <xs:sequence dfdl:hiddenGroupRef="ex:hgNested" />
        <xs:element name="f" type="xs:int" dfdl:outputValueCalc="{ 42 }"/>
      </xs:sequence>
    </xs:group>
    <xs:element name="e" dfdl:lengthKind="delimited">
      <xs:complexType>
        <xs:sequence dfdl:separator=",">
          <xs:sequence dfdl:hiddenGroupRef="ex:hg" />
          <xs:element name="g" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:element>
    
    <xs:group name="hgNested_shown">
      <xs:sequence>
        <xs:element name="sneaky" type="xs:int" />
      </xs:sequence>
    </xs:group>
    <xs:group name="hg_shown">
      <xs:sequence dfdl:separator="/">
        <xs:group ref="ex:hgNested_shown" />
        <xs:element name="f" type="xs:int" />
      </xs:sequence>
    </xs:group>
    <xs:element name="e_shown" dfdl:lengthKind="delimited">
      <xs:complexType>
        <xs:sequence dfdl:separator=",">
          <xs:group ref="ex:hg_shown" />
          <xs:element name="g" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="leftover">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="e3" type="xs:string"
            dfdl:lengthKind="delimited" dfdl:terminator="|" />
          <xs:element name="e4" type="xs:int" dfdl:lengthUnits="bytes" dfdl:lengthKind="explicit" dfdl:length="3"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="validation_check" dfdl:lengthKind="delimited">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-8]+" />
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    
</xs:schema>
