daffodil-test/src/test/resources/org/apache/daffodil/layers/useSimpleTestLayers.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           xmlns:dfdlx="http://www.ogf.org/dfdl/dfdl-1.0/extensions"
           xmlns:fn="http://www.w3.org/2005/xpath-functions"
           xmlns:daf="urn:ogf:dfdl:2013:imp:daffodil.apache.org:2018:ext"
           xmlns:tl="urn:STL"
           xmlns:ex="http://example.com"
           targetNamespace="http://example.com" >

  <include schemaLocation="/org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/>

  <import namespace="urn:STL"
             schemaLocation="/org/apache/daffodil/layers/xsd/SimpleTestLayer.dfdl.xsd"/>

  <annotation>
    <appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:defineFormat name="textual1">
        <dfdl:format
          ref="ex:GeneralFormat"
          representation="text"
          lengthKind="delimited"
          encoding="iso-8859-1"/>
      </dfdl:defineFormat>
      <dfdl:format ref="ex:textual1"/>
    </appinfo>
  </annotation>

  <group name="inVars">
      <sequence>
        <element name="intVarIn" type="xs:int"
                 dfdl:inputValueCalc='{ 42 }'/>
        <element name="stringVarIn" type="xs:string"
                 dfdl:inputValueCalc='{ "forty two" }'/>
      </sequence>
  </group>

  <group name="outVars">
    <sequence>
      <element name="intVarOut" type="xs:int"
               dfdl:inputValueCalc='{ $tl:intVar }'/>
      <element name="stringVarOut" type="xs:string"
               dfdl:inputValueCalc='{ $tl:stringVar }'/>
    </sequence>
  </group>

  <element name="rootOk1">
    <complexType>
      <sequence>
        <group ref="ex:inVars"/>
        <sequence>
          <annotation>
            <appinfo source="http://www.ogf.org/dfdl/">
              <dfdl:newVariableInstance ref="tl:intVar" defaultValue="{ intVarIn }"/>
              <dfdl:newVariableInstance ref="tl:stringVar" defaultValue="{ stringVarIn }"/>
              <!-- <dfdl:newVariableInstance ref="tl:intVar" />-->
              <!-- <dfdl:newVariableInstance ref="tl:stringVar" />-->
            </appinfo>
          </annotation>
          <sequence dfdlx:layer='tl:stlOk1'>
            <element name="data" type="xs:string"/>
          </sequence>
          <group ref="ex:outVars"/>
        </sequence>
      </sequence>
    </complexType>
  </element>

  <element name="rootOk2">
    <complexType>
      <sequence>
        <group ref="ex:inVars"/>
        <sequence>
          <annotation>
            <appinfo source="http://www.ogf.org/dfdl/">
              <!-- <dfdl:newVariableInstance ref="tl:intVar" defaultValue="{ intVarIn }"/>-->
              <!-- <dfdl:newVariableInstance ref="tl:stringVar" defaultValue="{ stringVarIn }"/>-->
              <dfdl:newVariableInstance ref="tl:intVar"/>
              <dfdl:newVariableInstance ref="tl:stringVar"/>
            </appinfo>
          </annotation>
          <sequence dfdlx:layer='tl:stlOk2'>
            <element name="data" type="xs:string"/>
          </sequence>
          <group ref="ex:outVars"/>
        </sequence>
      </sequence>
    </complexType>
  </element>

  <element name="rootOk3">
    <complexType>
      <sequence>
        <group ref="ex:inVars"/>
        <sequence>
          <annotation>
            <appinfo source="http://www.ogf.org/dfdl/">
              <dfdl:newVariableInstance ref="tl:intVar" defaultValue="{ intVarIn }"/>
              <!-- <dfdl:newVariableInstance ref="tl:stringVar" defaultValue="{ stringVarIn }"/>-->
              <!-- <dfdl:newVariableInstance ref="tl:intVar"/>-->
              <dfdl:newVariableInstance ref="tl:stringVar"/>
            </appinfo>
          </annotation>
          <sequence dfdlx:layer='tl:stlOk3'>
            <element name="data" type="xs:string"/>
          </sequence>
          <group ref="ex:outVars"/>
        </sequence>
      </sequence>
    </complexType>
  </element>

  <element name="rootOk4">
    <complexType>
      <sequence>
        <group ref="ex:inVars"/>
        <sequence>
          <annotation>
            <appinfo source="http://www.ogf.org/dfdl/">
              <!-- <dfdl:newVariableInstance ref="tl:intVar" defaultValue="{ intVarIn }"/> -->
              <dfdl:newVariableInstance ref="tl:stringVar" defaultValue="{ stringVarIn }"/>
              <dfdl:newVariableInstance ref="tl:intVar"/>
              <!-- <dfdl:newVariableInstance ref="tl:stringVar"/> -->
            </appinfo>
          </annotation>
          <sequence dfdlx:layer='tl:stlOk4'>
            <element name="data" type="xs:string"/>
          </sequence>
          <group ref="ex:outVars"/>
        </sequence>
      </sequence>
    </complexType>
  </element>

</schema>