daffodil-test/src/test/resources/org/apache/daffodil/section07/variables/variables_01.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<xsd:schema targetNamespace="http://example.com"
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:ex="http://example.com"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:tns="http://example.com"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <xs:include schemaLocation="org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/>

  <xsd:annotation>
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:defineVariable name="v_no_default" type="xsd:int" />
      <dfdl:defineVariable name="v_with_default"
        type="xsd:int" defaultValue="42" />
    </xsd:appinfo>
  </xsd:annotation>

  <xs:include schemaLocation="org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/>
  
  <xsd:annotation>
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="tns:GeneralFormat" representation="text" lengthUnits="bytes"
        encoding="US-ASCII" alignment='1' alignmentUnits='bytes'
        textStandardBase='10' binaryFloatRep='ieee' binaryNumberRep='binary'
        byteOrder='bigEndian' calendarPatternKind='implicit'
        escapeSchemeRef='' documentFinalTerminatorCanBeMissing='no'
        ignoreCase='no' initiatedContent='no' leadingSkip='0'
        lengthKind='implicit' occursCountKind='parsed' separatorSuppressionPolicy='anyEmpty'
        separatorPosition='infix' sequenceKind='ordered' textNumberRep='standard'
        textNumberCheckPolicy='strict' textStringJustification='left'
        trailingSkip='0' initiator="" terminator="" separator="" 
        
        textTrimKind="none" textStandardZeroRep="0" textNumberPattern="#0" textNumberRounding="explicit"
        textNumberRoundingIncrement="0.5" textNumberRoundingMode="roundUp" textStandardExponentRep="" />
    </xsd:appinfo>
  </xsd:annotation>

  <xs:element name="c">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="d" type="xsd:int"
          dfdl:inputValueCalc="{ $ex:v_with_default }">
          <xs:annotation>
            <xs:appinfo source="http://www.ogf.org/dfdl/">
              <dfdl:setVariable ref="ex:v_no_default">{ . }</dfdl:setVariable>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element name="e" type="xsd:int"
          dfdl:inputValueCalc="{ $ex:v_no_default }" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:group name="h_e">
    <xs:sequence>
      <xs:element name="e" type="xsd:string" dfdl:lengthKind="delimited"
          dfdl:outputValueCalc="{ xs:string($ex:v_no_default) }" />
    </xs:sequence>
  </xs:group>
  
  <xs:element name="c_2">
    <xs:complexType>
      <xs:sequence dfdl:separator=",">
        <xs:element name="d" type="xsd:string" dfdl:lengthKind="delimited">
          <xs:annotation>
            <xs:appinfo source="http://www.ogf.org/dfdl/">
              <dfdl:setVariable ref="ex:v_no_default">{ xs:int(.) }</dfdl:setVariable>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:sequence dfdl:hiddenGroupRef="ex:h_e"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="r1">
    <xs:complexType>
      <xs:sequence>
        <xs:annotation>
          <xs:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:setVariable ref="ex:v_no_default">{ 41 }</dfdl:setVariable>
            <dfdl:setVariable ref="ex:v_no_default">{ 42 }</dfdl:setVariable>
          </xs:appinfo>
        </xs:annotation>
        <xs:element name="d" type="xsd:int"
          dfdl:inputValueCalc="{ $ex:v_no_default }" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="r2">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="d" type="xsd:int"
          dfdl:inputValueCalc="{ $ex:v_with_default }" />
        <xs:element name="e" type="xsd:string"
          dfdl:inputValueCalc="{ 'just here to carry the setVariable annotation' }">
          <xs:annotation>
            <xs:appinfo source="http://www.ogf.org/dfdl/">
              <dfdl:setVariable ref="ex:v_with_default">{ 41 }</dfdl:setVariable>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xsd:schema>
