daffodil-test/src/test/resources/test space/A B.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.example.org/example1/" xmlns:tns="http://www.example.org/example1/"
  xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <include schemaLocation="xsd/built-in-formats.xsd"/>

  <annotation>
    <appinfo source="http://www.ogf.org/dfdl/">
      <!-- <dfdl:format initiator="" terminator="" separator=""
        separatorSuppressionPolicy="anyEmpty" separatorPosition="infix"
        documentFinalTerminatorCanBeMissing="yes" encoding="ASCII"
        representation="text" occursCountKind="parsed" /> -->
      <dfdl:format initiator="" terminator="" leadingSkip="0"
        trailingSkip="0" textBidi="no" floating="no" encoding="utf-8"
        byteOrder="bigEndian" alignment="1" alignmentUnits="bytes"
        fillByte="f" occursCountKind="parsed"
        truncateSpecifiedLengthString="no" ignoreCase="no"
        representation="text" lengthKind="delimited"
        nilValueDelimiterPolicy="both" emptyValueDelimiterPolicy="none"
        documentFinalTerminatorCanBeMissing="yes" initiatedContent="no"
        separatorSuppressionPolicy="anyEmpty" separatorPosition="infix"
        ref="tns:daffodilTest1" />
    </appinfo>
  </annotation>
  <!-- Parsing of CSV -->

  <element name="matrix" type="tns:matrixType" dfdl:lengthKind="implicit" />

  <complexType name="matrixType">
    <sequence dfdl:separator="%NL;">
      <element name="row" maxOccurs="unbounded" dfdl:lengthKind="implicit">
        <complexType>
          <sequence dfdl:separator=",">
            <element name="cell" type="xsd:int" maxOccurs="unbounded"
              dfdl:textNumberRep="standard" dfdl:lengthKind="delimited" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>

</schema>
