daffodil-test/src/test/resources/org/apache/daffodil/section23/dfdl_expressions/setVar.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<xs:schema
  xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ex="http://example.com"
  targetNamespace="http://example.com"
  elementFormDefault="unqualified">

  <xs:include schemaLocation="org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/>

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">

      <dfdl:format ref="ex:GeneralFormat"/>

      <dfdl:defineVariable name="myVar" type="xs:int"/>

    </xs:appinfo>
  </xs:annotation>

  <!-- for testing the diagnostic message when a setVariable gets an error at runtime. -->
  <xs:element name="setVariable_neg_01">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="value" dfdl:inputValueCalc='{ 0 }'/>
        <xs:sequence>
          <xs:annotation>
            <xs:appinfo source="http://www.ogf.org/dfdl/">
              <!--
                 The diagnostic message should identify the line below as the location of the div by zero error
                 -->
              <dfdl:setVariable ref="ex:myVar">{ xs:int(1 div ./value) }</dfdl:setVariable>
            </xs:appinfo>
          </xs:annotation>
          <xs:element type="xs:int" name="varValue" dfdl:inputValueCalc="{ $ex:myVar }"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- for testing the diagnostic message when a newVariableInstance gets an error at runtime. -->
  <xs:element name="newVariableInstance_neg_01">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="value" dfdl:inputValueCalc='{ 0 }'/>
        <xs:sequence>
          <xs:annotation>
            <xs:appinfo source="http://www.ogf.org/dfdl/">
              <!--
                 The diagnostic message should identify the line below as the location of the div by zero error
                 -->
              <dfdl:newVariableInstance ref="ex:myVar" defaultValue='{ xs:int(1 div ./value) }'/>
            </xs:appinfo>
          </xs:annotation>
          <xs:element type="xs:int" name="varValue" dfdl:inputValueCalc="{ $ex:myVar }"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>